<!DOCTYPE html>
<html lang="zh-cn">
    <head>
		#parse("/layout/head.vm")
		<script src="$basePath/static/js/fuelux/fuelux.spinner.min.js"></script>
        <script language="javascript">
            $(function() {
				$('#addForm').validate({
					errorElement:"em",
					errorClass:"red",
					rules: {
						productNo: {required: true},
						skuNo: {required: true},
						skuName: {required: true},
						saleStatus: {required: true},
						imgPath: {required: true},
						salePrice: {required: true},
						saleQuantity: {required: true},
					},
			
					messages: {
						productNo: { required: "请输入商品编号"},
						skuNo: { required: "请输入sku编号"},
						skuName: { required: "请输入SKU名称"},
						saleStatus: { required: "请输入上下架状态"},
						imgPath: { required: "请输入Sku主图"},
						salePrice: { required: "请输入销售价"},
						saleQuantity: { required: "请输入可售数量"},
					}
				});
				
				$('#colorOrder').ace_spinner({value:10,min:1,max:100,step:1, on_sides: true, icon_up:'icon-plus smaller-75', icon_down:'icon-minus smaller-75', btn_up_class:'btn-success' , btn_down_class:'btn-danger'});
				$('#sizeOrder').ace_spinner({value:10,min:1,max:100,step:1, on_sides: true, icon_up:'icon-plus smaller-75', icon_down:'icon-minus smaller-75', btn_up_class:'btn-success' , btn_down_class:'btn-danger'});
				$('#saleQuantity').ace_spinner({value:100,min:1,max:10000,step:1, on_sides: true, icon_up:'icon-plus smaller-75', icon_down:'icon-minus smaller-75', btn_up_class:'btn-success' , btn_down_class:'btn-danger'});
				
				$("#btn-back").click(function(){
					window.location.href=("$basePath/productSku?productNo=$!productSku.productNo");
				});
				$("#btn-submit").click(function(){
            		var form = $("#addForm");
					if(form.valid()==false){
						return;
					}
					jQuery.post('$basePath/productSku/add',
            			form.serialize(),
            			function(data) { MyPopWindow.SubmitCompletedCallback2(data, "$basePath/productSku?productNo=$!productSku.productNo"); }
            		);
            	});
            });
        </script>
    </head>
	<body>
		<div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-plus green"></i>商品SKU&nbsp;&gt;&nbsp;新增
                        </h5>
                        <div class="widget-toolbar"></div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #fff;padding:5px;">
                            <form class="form-horizontal" role="form" id="addForm">
                                <div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="productNo">商品编号</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="productNo" id="productNo" class="col-xs-10 col-sm-8" value="$!productSku.productNo" readonly />
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="skuNo">sku编号</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="skuNo" id="skuNo" class="col-xs-10 col-sm-8" value="$!productSku.skuNo" readonly />
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="skuName">SKU名称</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="skuName" id="skuName" class="col-xs-10 col-sm-8" />
                                    </div>
                                </div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="color">颜色</label>
                                    <div class="col-sm-3">
										<select id="color" name="color" class="col-xs-10 col-sm-8">
											<option value="0">请选择</option>
    										#if(!$null.isNull($!colorTypes))
                                    			#foreach($item in $colorTypes)
                                    				<option value="$item.attr">$item.value</option>
                                    			#end
                                    		#end
                                        </select>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="sizeDesc">颜色说明</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="colorDesc" id="colorDesc" class="col-xs-10 col-sm-8" />
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="colorOrder">颜色顺序</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="colorOrder" id="colorOrder" class="col-xs-10 col-sm-8" />
										<span class='red'>提示:数值小，排序靠前</span>
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="size">尺码</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="size" id="size" class="col-xs-10 col-sm-8" />
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="sizeDesc">尺码说明</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="sizeDesc" id="sizeDesc" class="col-xs-10 col-sm-8" />
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="sizeOrder">尺码顺序</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="sizeOrder" id="sizeOrder" class="col-xs-10 col-sm-8" />
										<span class='red'>提示:数值小，排序靠前</span>
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="price">市场价</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="price" id="price" class="col-xs-10 col-sm-8" />
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="salePrice">销售价</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="salePrice" id="salePrice" class="col-xs-10 col-sm-8" />
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="saleQuantity">可售数量</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="saleQuantity" id="saleQuantity" class="col-xs-10 col-sm-8"/>
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="dimensionCodeOne">一维码</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="dimensionCodeOne" id="dimensionCodeOne" class="col-xs-10 col-sm-8" />
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="dimensionCodeTwo">二维码</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="dimensionCodeTwo" id="dimensionCodeTwo" class="col-xs-10 col-sm-8" />
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="saleStatus">上下架状态</label>
                                    <div class="col-sm-3">
										<select id="saleStatus" name="saleStatus" class="col-xs-10 col-sm-8">
											<option value="0">请选择</option>
    										#if(!$null.isNull($!saleStatusTypes))
                                    			#foreach($item in $saleStatusTypes)
                                    				<option value="$item.attr">$item.value</option>
                                    			#end
                                    		#end
                                        </select>
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="imgPath">Sku主图</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="imgPath" id="imgPath" class="col-xs-10 col-sm-8" />
                                    </div>
								</div>
								<div class="form-group">
									<div class="col-sm-8 col-sm-offset-4">
                                        <button class="btn btn-info btn-sm" type="button" id="btn-back"><i class="icon-arrow-left"></i>返回</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>重置</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-submit"><i class="icon-ok"></i>提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
	</body>
</html>
