<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        #parse("/layout/head.vm")
		<script language="javascript"> 
			$(function() {
				$("#btn-query").click(function() {
        			pageSubmit(1);
   				});
				$("#btn-add").click(function() {
        			window.location.href=("$basePath/productSku/addForward");
   				});
			});
        	// 提交分页查询
        	function pageSubmit(pageNoParam) {
                $("#curPage").val(pageNoParam);
            	$("#queryForm").attr("action", "$basePath/productSku");
                $("#queryForm").attr("method", "POST");
                $("#queryForm").submit();
        	}
        	
        	function toUpdate(parameterId){
        		window.location.href=("$basePath/productSku/updateForward?id="+parameterId);
        	}
        	
        	function toDelete(parameterId){
        		MyPopWindow.ExecuteDelete("$basePath/productSku/delete",{ id : parameterId });
        	}
        	
        </script>
	</head>
    <body>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-search green"></i>商品SKU查询
                        </h5>
                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="1 icon-chevron-up bigger-100"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #f5f5f5;padding:5px;">
                            <form class="form-horizontal" role="form" id="queryForm">
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="productNo">商品编号</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="productNo" id="productNo" class="col-xs-10 col-sm-8" value="$!query.productNo"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="skuNo">sku编号</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="skuNo" id="skuNo" class="col-xs-10 col-sm-8" value="$!query.skuNo"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="skuName">SKU名称</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="skuName" id="skuName" class="col-xs-10 col-sm-8" value="$!query.skuName"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="size">尺码</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="size" id="size" class="col-xs-10 col-sm-8" value="$!query.size"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="productAd">商品广告词</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="productAd" id="productAd" class="col-xs-10 col-sm-8" value="$!query.productAd"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="salesPromotion">商品促销信息</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="salesPromotion" id="salesPromotion" class="col-xs-10 col-sm-8" value="$!query.salesPromotion"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="durabilityPeriod">商品保质期</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="durabilityPeriod" id="durabilityPeriod" class="col-xs-10 col-sm-8" value="$!query.durabilityPeriod"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="productionDate">商品生产日期</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="productionDate" id="productionDate" class="col-xs-10 col-sm-8" value="$!query.productionDate"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="saleStatus">上下架状态</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="saleStatus" id="saleStatus" class="col-xs-10 col-sm-8" value="$!query.saleStatus"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="saleTimeStart">上架时间</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="saleTimeStart" id="saleTimeStart" class="col-xs-10 col-sm-8" value="$!query.saleTimeStart"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="saleTimeEnd">下架时间</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="saleTimeEnd" id="saleTimeEnd" class="col-xs-10 col-sm-8" value="$!query.saleTimeEnd"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="imgPath">Sku主图</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="imgPath" id="imgPath" class="col-xs-10 col-sm-8" value="$!query.imgPath"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="price">市场价</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="price" id="price" class="col-xs-10 col-sm-8" value="$!query.price"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="salePrice">销售价</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="salePrice" id="salePrice" class="col-xs-10 col-sm-8" value="$!query.salePrice"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="saleQuantity">可售数量</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="saleQuantity" id="saleQuantity" class="col-xs-10 col-sm-8" value="$!query.saleQuantity"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="discount">折扣（会员）</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="discount" id="discount" class="col-xs-10 col-sm-8" value="$!query.discount"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="features">描述</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="features" id="features" class="col-xs-10 col-sm-8" value="$!query.features"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="dimensionCodeOne">一维码</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="dimensionCodeOne" id="dimensionCodeOne" class="col-xs-10 col-sm-8" value="$!query.dimensionCodeOne"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="dimensionCodeTwo">二维码</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="dimensionCodeTwo" id="dimensionCodeTwo" class="col-xs-10 col-sm-8" value="$!query.dimensionCodeTwo"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="priority">优先级</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="priority" id="priority" class="col-xs-10 col-sm-8" value="$!query.priority"/>
                                    </div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 col-sm-offset-8">
    									#parse("/layout/page.vm")
                                        <button class="btn btn-info btn-sm" type="button" id="btn-query"><i class="icon-search"></i>查询</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>重置</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-add"><i class="icon-plus"></i>新增</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
			<div class="col-xs-12 col-sm-12 table-responsive">
                <table class="table table-striped table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
							<th class="center">主键</th>
							<th class="center">商品编号</th>
							<th class="center">sku编号</th>
							<th class="center">SKU名称</th>
							<th class="center">尺码</th>
							<th class="center">商品广告词</th>
							<th class="center">商品促销信息</th>
							<th class="center">商品保质期</th>
							<th class="center">商品生产日期</th>
							<th class="center">上下架状态</th>
							<th class="center">上架时间</th>
							<th class="center">下架时间</th>
							<th class="center">Sku主图</th>
							<th class="center">市场价</th>
							<th class="center">销售价</th>
							<th class="center">可售数量</th>
							<th class="center">折扣（会员）</th>
							<th class="center">描述</th>
							<th class="center">一维码</th>
							<th class="center">二维码</th>
							<th class="center">优先级</th>
							<th class="center">创建时间</th>
							<th class="center">创建人</th>
    						<th class="center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        #foreach( $item in $dataList)
                            <tr>
                                <td>$!item.id</td>
                                <td>$!item.productNo</td>
                                <td>$!item.skuNo</td>
                                <td>$!item.skuName</td>
                                <td>$!item.size</td>
                                <td>$!item.productAd</td>
                                <td>$!item.salesPromotion</td>
                                <td>$!item.durabilityPeriod</td>
                                <td>$!item.productionDate</td>
                                <td>$!item.saleStatus</td>
                                <td>$!item.saleTimeStart</td>
                                <td>$!item.saleTimeEnd</td>
                                <td>$!item.imgPath</td>
                                <td>$!item.price</td>
                                <td>$!item.salePrice</td>
                                <td>$!item.saleQuantity</td>
                                <td>$!item.discount</td>
                                <td>$!item.features</td>
                                <td>$!item.dimensionCodeOne</td>
                                <td>$!item.dimensionCodeTwo</td>
                                <td>$!item.priority</td>
                                <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss ',$!item.createTime)</td>
                                <td>$!item.createUser</td>
                                <td>
									<a href="javascript:void(0)" onclick="toDetail($!item.id);" data-toggle="modal"><i class="icon-list">详情</i></a>
									<a href="javascript:void(0)" onclick="toUpdate($!item.id)"><i class="icon-pencil pink">修改</i></a>
									<a href="javascript:void(0)" onclick="toDelete($!item.id)"><i class="icon-remove red">删除</i></a>
								</td>
                            </tr>
                        #end
                    </tbody>
                </table>
				#pageBarPost($page.totalRow $page.curPage $page.totalPage)
			</div>
        </div>
		#parse("/productSku/detailModal.vm")
    </body>
</html>
