<!DOCTYPE html>
<html lang="zh-cn">
    <head>
		#parse("/layout/head.vm")
		<script src="$basePath/static/js/jquery.form.js"></script>
		<script src="$basePath/static/js/fuelux/fuelux.spinner.min.js"></script>
        <script language="javascript">
            $(function() {
				$('#updateForm').validate({
					errorElement:"em",
					errorClass:"red",
					rules: {
						productNo: {required: true},
						skuNo: {required: true},
						skuName: {required: true},
						saleStatus: {required: true},
						imgPath: {required: true},
						salePrice: {required: true},
						saleQuantity: {required: true},
					},
			
					messages: {
						productNo: { required: "请输入商品编号"},
						skuNo: { required: "请输入sku编号"},
						skuName: { required: "请输入SKU名称"},
						saleStatus: { required: "请输入上下架状态"},
						imgPath: { required: "请输入Sku主图"},
						salePrice: { required: "请输入销售价"},
						saleQuantity: { required: "请输入可售数量"},
					}
				});
				
				$('#colorOrder').ace_spinner({value:$!productSku.colorOrder,min:1,max:100,step:1, on_sides: true, icon_up:'icon-plus smaller-75', icon_down:'icon-minus smaller-75', btn_up_class:'btn-success' , btn_down_class:'btn-danger'});
				$('#sizeOrder').ace_spinner({value:$!productSku.sizeOrder,min:1,max:100,step:1, on_sides: true, icon_up:'icon-plus smaller-75', icon_down:'icon-minus smaller-75', btn_up_class:'btn-success' , btn_down_class:'btn-danger'});
				$('#saleQuantity').ace_spinner({value:$!productSku.saleQuantity,min:1,max:10000,step:1, on_sides: true, icon_up:'icon-plus smaller-75', icon_down:'icon-minus smaller-75', btn_up_class:'btn-success' , btn_down_class:'btn-danger'});
				
				$('#color').val("$!productSku.color");
				//$('#colorOrder').val("$!productSku.colorOrder");
				//$('#sizeOrder').val("$!productSku.sizeOrder");
				//$('#saleQuantity').val("$!productSku.saleQuantity");
				$('#saleStatus').val("$!productSku.saleStatus");
				
				if ("$!productSku.imgPath" != "") {
					var htmlContent = getShowPic("$!productSku.imgPath", 1);
					//主图数据
					$('#mainpreview').append(htmlContent);
					if ($('#imgPath').val() == null || $('#imgPath').val() == '') {
    					$('#imgPath').val("$!productSku.imgPath");
					}
				}
				
				if ("$!skuImgPaths" != "") {
					var skuImgPaths = "$!skuImgPaths".split(";");
					for (var skuImgPath in skuImgPaths) {
    					//展示图数据
    					var htmlContent = getShowPic(skuImgPath, 2);
    					$('#skuListpreview').append(htmlContent);
    					var skuImgs = $("#skuImgPaths").val();
    					$("#skuImgPaths").val(skuImgs + ";" + skuImgPath);
					}
				}
				
				$("#btn-submit-img").click(function(){
					if($('#skuName').val() == null || $('#skuName').val() == ""){
                		alert('请填写商品名称');
                		return;
                	}
		
					$("#sku_form").ajaxSubmit({ 
                		cache: false,
                		type: 'post',
                		error:function(data){
                			alert("上传图片出错！");
            	    	},
                        success:function(data){
							if(data.indexOf("<pre>") > -1 ){
                        		data = jQuery.parseJSON(jQuery(data).text());
                        	} else {
                        		data = eval('(' + data + ')');
                        	}
                            var htmlContent = getShowPic(data.result, 1);
							//添加主图数据
							$('#mainpreview').append(htmlContent);
							if ($('#imgPath').val() == null || $('#imgPath').val() == '') {
            					$('#imgPath').val(data.result);
							}
                    	}
                	});
				});
				
				$("#btn-submit-sku-list").click(function(){
					if($('#skuName').val() == null || $('#skuName').val() == ""){
                		alert('请填写商品名称');
                		return;
                	}
		
					$("#sku_list_form").ajaxSubmit({ 
                		cache: false,
                		type: 'post',
                		error:function(data){
                			alert("上传图片出错！");
            	    	},
                        success:function(data){
							if(data.indexOf("<pre>") > -1 ){
                        		data = jQuery.parseJSON(jQuery(data).text());
                        	} else {
                        		data = eval('(' + data + ')');
                        	}
                            var htmlContent = getShowPic(data.result, 2);
							//添加展示图数据
							$('#skuListpreview').append(htmlContent);
							var skuImgs = $("#skuImgPaths").val();
							$("#skuImgPaths").val(skuImgs + ";" + data.result);
                    	}
                	});
				});
				
				$("#btn-back").click(function(){
					window.location.href=("$basePath/productSku?productNo=$!productSku.productNo");
				});
				$("#btn-submit").click(function(){
            		var form = $("#updateForm");
					if(form.valid()==false){
						return;
					}
					jQuery.post('$basePath/productSku/update',
            			form.serialize(),
            			function(data) { MyPopWindow.SubmitCompletedCallback2(data, "$basePath/productSku?productNo=$!productSku.productNo"); }
            		);
            	});
            });
			
			/**
             * @description:回显商品主图片
             * @date 2014-2-11
             */
            function getShowPic(path, type){
				var widthVal;
				var heightVal;
				if (type == 1) {
					widthVal = "200px";
					heightVal = "130px";
				} else {
					widthVal = "440px";
					heightVal = "450px";
				}
            	var htmlContent = "<div><img src='$!{imgUrl}"+ path +"' width='" + widthVal + "' height='" + heightVal + "'/><br><span><a href='javaScript:void()' onclick='delSkuPic(\""+path+"\");'>删除</a></span></div>";
                return htmlContent;
            }
        </script>
    </head>
	<body>
		<div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-plus green"></i>商品SKU&nbsp;&gt;&nbsp;修改
                        </h5>
                        <div class="widget-toolbar"></div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #fff;padding:5px;">
							<form class="form-horizontal" role="form" id="updateForm">
                                <div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="productNo">商品编号</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="productNo" id="productNo" class="col-xs-10 col-sm-8" value="$!productSku.productNo" readonly />
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="skuNo">sku编号</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="skuNo" id="skuNo" class="col-xs-10 col-sm-8" value="$!productSku.skuNo" readonly />
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="skuName">SKU名称</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="skuName" id="skuName" class="col-xs-10 col-sm-8" value="$!productSku.skuName" />
                                    </div>
                                </div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="color">颜色</label>
                                    <div class="col-sm-3">
										<select id="color" name="color" class="col-xs-10 col-sm-8">
											<option value="0">请选择</option>
    										#if(!$null.isNull($!colorTypes))
                                    			#foreach($item in $colorTypes)
                                    				<option value="$item.attr">$item.value</option>
                                    			#end
                                    		#end
                                        </select>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="colorDesc">颜色说明</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="colorDesc" id="colorDesc" class="col-xs-10 col-sm-8" value="$!productSku.colorDesc" />
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="colorOrder">颜色顺序</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="colorOrder" id="colorOrder" class="col-xs-10 col-sm-8" />
										<span class='red'>提示:数值小，排序靠前</span>
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="size">尺码</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="size" id="size" class="col-xs-10 col-sm-8" value="$!productSku.size" />
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="sizeDesc">尺码说明</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="sizeDesc" id="sizeDesc" class="col-xs-10 col-sm-8" value="$!productSku.sizeDesc" />
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="sizeOrder">尺码顺序</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="sizeOrder" id="sizeOrder" class="col-xs-10 col-sm-8" />
										<span class='red'>提示:数值小，排序靠前</span>
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="price">市场价</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="price" id="price" class="col-xs-10 col-sm-8" value="$!productSku.price" />
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="salePrice">销售价</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="salePrice" id="salePrice" class="col-xs-10 col-sm-8" value="$!productSku.salePrice" />
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="saleQuantity">可售数量</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="saleQuantity" id="saleQuantity" class="col-xs-10 col-sm-8" value="$!productSku.saleQuantity" />
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="dimensionCodeOne">一维码</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="dimensionCodeOne" id="dimensionCodeOne" class="col-xs-10 col-sm-8" value="$!productSku.dimensionCodeOne" />
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="dimensionCodeTwo">二维码</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="dimensionCodeTwo" id="dimensionCodeTwo" class="col-xs-10 col-sm-8" value="$!productSku.dimensionCodeTwo" />
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="saleStatus">是否上架</label>
                                    <div class="col-sm-3">
										<select id="saleStatus" name="saleStatus" class="col-xs-10 col-sm-8">
    										#if(!$null.isNull($!saleStatusTypes))
                                    			#foreach($item in $saleStatusTypes)
                                    				<option value="$item.attr">$item.value</option>
                                    			#end
                                    		#end
                                        </select>
                                    </div>
								</div>
								
								<input type="hidden" id="imgPath" name="imgPath" />
								<input type="hidden" id="skuImgPaths" name="skuImgPaths" />
                            </form>
							<form class="form-horizontal" id="sku_form" method="post" action="$basePath/picture/upload" enctype="multipart/form-data">
    							<div class="form-group">
    								<label class="col-sm-1 control-label no-padding-right" for="imgPath">商品主图</label>
    								<div class="col-sm-11">
										<input type="hidden" name="filefolder" value="product" />
										<input type="hidden" name="type" value="1" />
                                        <input type="file" name="file" class="col-sm-2" />
                                        <input class="col-sm-1" type="button" id="btn-submit-img" value="发布图片" />
    									<span class="col-sm-8">图片尺寸宽200PX，高自适应</span>
                                    </div>
    							</div>
    							<div class="form-group">
        							<label class="col-sm-1 control-label no-padding-right" for="mainpreview">主图预览</label>
        							<div class="col-sm-11" id="mainpreview">
                                    </div>
    						    </div>
                            </form>
							<form class="form-horizontal" id="sku_list_form" method="post" action="$basePath/picture/upload" enctype="multipart/form-data">
    							<div class="form-group">
    								<label class="col-sm-1 control-label no-padding-right" for="skuListImgPath">商品展示</label>
    								<div class="col-sm-11" id="skuListImgPath">
										<input type="hidden" name="filefolder" value="product" />
                                        <input type="file" name="file" class="col-sm-2" />
										<input type="hidden" name="type" value="2" />
                                        <input class="col-sm-1" type="button" id="btn-submit-sku-list" value="发布图片" />
    									<span class="col-sm-8">图片尺寸宽440PX，高自适应</span>
                                    </div>
    							</div>
    							<div class="form-group">
        							<label class="col-sm-1 control-label no-padding-right" for="skuListpreview">展示预览</label>
        							<div class="col-sm-11" id="skuListpreview">
                                    </div>
    						    </div>
    							<div class="form-group">
									<input type="hidden" name="id" id="id" value="$!productSku.id" />
    								<div class="col-sm-8 col-sm-offset-3">
                                        <button class="btn btn-info btn-sm" type="button" id="btn-back"><i class="icon-arrow-left"></i>返回</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>重置</button>
    									 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-submit"><i class="icon-ok"></i>保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
	</body>
</html>
