<!DOCTYPE html>
<html lang="zh-cn">
    <head>
		#parse("/layout/head.vm")
        <script language="javascript">
            $(function() {
				$('#addForm').validate({
					errorElement:"em",
					errorClass:"red",
					rules: {
												categoryOneId: {required: true},
						categoryOne: {required: true},
						categoryTwoId: {required: true},
						categoryTwo: {required: true},
						categoryThreeId: {required: true},
						categoryThree: {required: true},
						brandCode: {required: true},
						brandName: {required: true},
						enName: {required: true},
						brandAbbr: {required: true},
						keyword: {required: true},
						type: {required: true},
						typeName: {required: true},
						provinceName: {required: true},
						provinceNo: {required: true},
						cityName: {required: true},
						cityNo: {required: true},
						priority: {required: true},
					},
			
					messages: {
						categoryOneId: { required: "请输入一级分类"},
						categoryOne: { required: "请输入一级分类名称"},
						categoryTwoId: { required: "请输入二级分类"},
						categoryTwo: { required: "请输入二级分类名称"},
						categoryThreeId: { required: "请输入三级分类"},
						categoryThree: { required: "请输入三级分类名称"},
						brandCode: { required: "请输入品牌编号"},
						brandName: { required: "请输入品牌名称"},
						enName: { required: "请输入品牌英文名称"},
						brandAbbr: { required: "请输入品牌简称"},
						keyword: { required: "请输入关键字"},
						type: { required: "请输入商品类型（国内、进口）"},
						typeName: { required: "请输入商品类型名称"},
						provinceName: { required: "请输入地区-省份-名称"},
						provinceNo: { required: "请输入地区-省份-编号"},
						cityName: { required: "请输入地区-市-名称"},
						cityNo: { required: "请输入地区-市-编号"},
						priority: { required: "请输入优先级"},
					}
				});
				
				$("#btn-back").click(function(){
					window.location.href=("$basePath/productBrand");
				});
				$("#btn-submit").click(function(){
            		var form = $("#addForm");
					if(form.valid()==false){
						return;
					}
					jQuery.post('$basePath/productBrand/add',
            			form.serialize(),
            			function(data) { MyPopWindow.SubmitCompletedCallback2(data, "$basePath/productBrand"); }
            		);
            	});
            });
        </script>
    </head>
	<body>
		<div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-plus green"></i>商品类别品牌&nbsp;&gt;&nbsp;新增
                        </h5>
                        <div class="widget-toolbar"></div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #fff;padding:5px;">
                            <form class="form-horizontal" role="form" id="addForm">
                                <div class="form-group">
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="categoryOneId">一级分类</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="categoryOneId" id="categoryOneId" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="categoryOne">一级分类名称</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="categoryOne" id="categoryOne" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="categoryTwoId">二级分类</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="categoryTwoId" id="categoryTwoId" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="categoryTwo">二级分类名称</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="categoryTwo" id="categoryTwo" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="categoryThreeId">三级分类</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="categoryThreeId" id="categoryThreeId" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="categoryThree">三级分类名称</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="categoryThree" id="categoryThree" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="brandCode">品牌编号</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="brandCode" id="brandCode" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="brandName">品牌名称</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="brandName" id="brandName" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="enName">品牌英文名称</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="enName" id="enName" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="brandAbbr">品牌简称</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="brandAbbr" id="brandAbbr" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="keyword">关键字</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="keyword" id="keyword" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="type">商品类型（国内、进口）</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="type" id="type" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="typeName">商品类型名称</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="typeName" id="typeName" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="provinceName">地区-省份-名称</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="provinceName" id="provinceName" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="provinceNo">地区-省份-编号</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="provinceNo" id="provinceNo" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="cityName">地区-市-名称</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="cityName" id="cityName" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="cityNo">地区-市-编号</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="cityNo" id="cityNo" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="priority">优先级</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="priority" id="priority" class="col-xs-12 col-sm-12" />
                                    </div>
                                </div>
								<div class="form-group">
									<div class="col-sm-8 col-sm-offset-4">
                                        <button class="btn btn-info btn-sm" type="button" id="btn-back"><i class="icon-arrow-left"></i>返回</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>重置</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-submit"><i class="icon-ok"></i>提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
	</body>
</html>
