<!---------------------- 广告 ----------------------> 
  <div class="wid1200 clearfix">
    <div class="weichuangyi">
        <div class="weichuangyi_main">
            <ul class="weichuangyi_ul">
                <li><a href="" class="img"><img src="#springUrl('')/static/images/banner1.jpg"  alt="微创意" /></a></li>
                <li><a href="" class="img"><img src="#springUrl('')/static/images/m-banner1.jpg"    alt="微创意" /></a></li>
                <li><a href="" class="img"><img src="#springUrl('')/static/images/m-banner2.jpg"  alt="微创意" /></a></li>
                <li><a href="" class="img"><img src="#springUrl('')/static/images/banner1.jpg"   alt="微创意" /></a></li>
            </ul>
        </div>
        <p class="weichuangyi_left"></p>
        <p class="weichuangyi_right"></p>
        <div class="weichuangyi_span"><p><span class="weichuangyi_span_one"></span> <span></span> <span></span><span></span></p> </div>
    </div>
  </div>
 <!---------------------- 广告 end ----------------------> 
 
 <!---------------------- 正文 ----------------------> 
 <div class="wid1200 clearfix">
    <div class="box left">
       <div class="boximg"><img src="#springUrl('')/static/images/t_img1.jpg" /></div>
       <h2 class="boxtitle normal">贴心咨询师全程指导</h2>
       <div class="boxcon">
         <p><span class="reds">1500</span>名专业咨询师随时恭候</p>
         <p><span class="reds">7X24</span>小时服务不间断服务</p>
         <p><span class="reds">1对1</span>专属服务最了解您的需求</p>
       </div>
    </div>
    
    <div class="box left ml">
       <div class="boximg"><img src="#springUrl('')/static/images/t_img2.jpg" /></div>
       <h2 class="boxtitle normal">安全 全球保真货源</h2>
       <div class="boxcon">
         <p>欧盟<span class="reds">6</span>大核心国家提供货源</p>
         <p><span class="reds">200</span>家品牌公司商品保真</p>
         <p><span class="reds">10</span>家顶尖服务中心提供服务</p>
       </div>
    </div>
    
    <div class="box right">
       <div class="boximg"><img src="#springUrl('')/static/images/t_img3.jpg" /></div>
       <h2 class="boxtitle normal">便捷 获取商品一站式</h2>
       <div class="boxcon">
         <p>商品分类科学便于<span class="reds">查找</span>商品</p>
         <p>购买指导人性便于<span class="reds">选择</span>商品</p>
         <p>支付方式灵活便于<span class="reds">完成</span>购买</p>
       </div>
    </div>
  
 </div>
 
<!---------------------- 正文end ----------------------> 