<!-- Modal -->
<div class="modal fade" id="myShoppingCartModal" tabindex="-1" role="dialog" aria-labelledby="myShoppingCartModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myShoppingCartModalLabel">购物车详情</h4>
			</div>
			<div class="modal-body"> 
				<table class="table table-striped table-bordered table-condensed table-hover">
					<tbody>
						<tr>
							<th class="center" style='width:25%;'>自增id</th><td id="r_id" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>用户编号</th><td id="r_userNo" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>商品编号</th><td id="r_skuNo" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>商品数量</th><td id="r_skuCount" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>状态</th><td id="r_status" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>创建时间</th><td id="r_createTime" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>更新时间</th><td id="r_updateTime" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>创建人</th><td id="r_createName" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>修改人</th><td id="r_updateName" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>是否有效</th><td id="r_yn" style='width:25%;'></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script language="javascript">         	
    function toDetail(parameterId){
		$("#tab_online_tbody").html("");
		$("#tab_config_tbody").html("");
		$("#tab_log_tbody").html("");
    	jQuery.ajax({
    		type: "GET",
    		url: basePath + "/shoppingCart/detail",
    		dataType : 'json',
    		data: "id=" + parameterId,
    		
    		success: function(data){
    			if(data!=null && data.code==200 && data.result!=null){
    				var r = data.result;
    				$("#r_id").text(r.id==null?"":r.id);
    				$("#r_userNo").text(r.userNo==null?"":r.userNo);
    				$("#r_skuNo").text(r.skuNo==null?"":r.skuNo);
    				$("#r_skuCount").text(r.skuCount==null?"":r.skuCount);
    				$("#r_status").text(r.status==null?"":r.status);
    				$("#r_createTime").text(r.createTime==null?"":r.createTime);
    				$("#r_updateTime").text(r.updateTime==null?"":r.updateTime);
    				$("#r_createName").text(r.createName==null?"":r.createName);
    				$("#r_updateName").text(r.updateName==null?"":r.updateName);
    				$("#r_yn").text(r.yn==null?"":r.yn);
    			} else {
    				alert("获取详情失败");
    			}
    		},
    		
    		error : function(data) {
    			alert("获取详情出现异常");
    		}
    	});
		
    	$('#myShoppingCartModal').modal('show');
    }
</script>