<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hbird.portal.dao.impl.SystemDaoImpl">
    <resultMap id="SystemMap" type="System">
		<result column="ID" property="id" jdbcType="DECIMAL" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="CODE" property="code" jdbcType="VARCHAR" />
		<result column="PRIORITY" property="priority" jdbcType="DECIMAL" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
		<result column="YN" property="yn" jdbcType="DECIMAL" />
    </resultMap>
    
    <sql id="systemColumns">
    	ID,NAME,CODE,PRIORITY,REMARK,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER,YN
    </sql>
    
     <sql id="systemUsedColumns">
    	NAME,CODE,PRIORITY,REMARK,CREATE_TIME,CREATE_USER,UPDATE_TIME,UPDATE_USER,YN
    </sql>

    <!-- 创建信息 -->
    <insert id="insert" parameterType="System" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO p_system(<include refid="systemUsedColumns"/>) 
        VALUES (#{name},#{code},#{priority},#{remark},now(),#{createUser},now(),#{updateUser},0)
	</insert>
	
    <!-- 修改信息 -->
    <update id="update" parameterType="System">
        <if test="_parameter != null">
            <if test="id != null and id > 0">
                update p_system set
		        <if test="name != null and name != ''">
                	NAME = #{name,jdbcType=VARCHAR},
		        </if>
		        <if test="code != null and code != ''">
                	CODE = #{code,jdbcType=VARCHAR},
		        </if>
		        <if test="priority != null and priority != ''">
                	PRIORITY = #{priority,jdbcType=DECIMAL},
		        </if>
		        <if test="remark != null and remark != ''">
                	REMARK = #{remark,jdbcType=VARCHAR},
		        </if>
		        <if test="updateUser != null and updateUser != ''">
                	UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
		        </if>
                	update_time = now()
                where id = #{id}
            </if>
        </if>
    </update>

    <!-- 根据主键获取对象信息 -->
    <select id="getSystemById" resultMap="SystemMap" parameterType="java.lang.Long">
        <if test="_parameter != null">
            select <include refid="systemColumns"/> from p_system
            where id = #{_parameter} and yn = 0
        </if>
    </select>

    <!-- 根据查询Bean获取数据集合，不带翻页 -->
    <select id="querySystemList" resultMap="SystemMap"
            parameterType="com.hbird.portal.domain.query.SystemQuery">
        select <include refid="systemColumns"/> from p_system where <include refid="querySystemListWhere"/>
    </select>

    <!-- 根据查询Bean获取数据集合，翻页 -->
    <select id="querySystemListWithPage" resultMap="SystemMap"
            parameterType="com.hbird.portal.domain.query.SystemQuery">
        select <include refid="systemColumns"/> from p_system where <include refid="querySystemListWhere"/>
        order by create_time desc 
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 根据查询Bean查询-判断是否存在 -->
    <select id="exist" resultType="java.lang.Integer" parameterType="System">
        select count(1) from p_system where yn = 0 and NAME = #{name,jdbcType=VARCHAR}
    </select>

    <!-- 根据查询Bean获取集合总数 -->
    <select id="querySystemCount" resultType="java.lang.Integer"
            parameterType="com.hbird.portal.domain.query.SystemQuery">
        select count(1) from p_system where <include refid="querySystemListWhere"/>
    </select>

    <!-- 删除信息-逻辑删除 -->
    <update id="delete" parameterType="System">
		update p_system 
		set yn = 1, update_time = now(), update_user = #{updateUser,jdbcType=VARCHAR}
		where id = #{id}
    </update>

    <!-- 常用的查询Where条件 -->
    <sql id="querySystemListWhere">
    	yn = 0
        <if test="id != null">
        	and ID = #{id,jdbcType=DECIMAL}
        </if>
        <if test="name != null and name != ''">
        	and NAME = #{name,jdbcType=VARCHAR}
        </if>
        <if test="code != null and code != ''">
        	and CODE = #{code,jdbcType=VARCHAR}
        </if>
        <if test="priority != null">
        	and PRIORITY = #{priority,jdbcType=DECIMAL}
        </if>
        <if test="remark != null and remark != ''">
        	and REMARK = #{remark,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null and createTime != ''">
        	and CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="createUser != null and createUser != ''">
        	and CREATE_USER = #{createUser,jdbcType=VARCHAR}
        </if>
        <if test="updateTime != null and updateTime != ''">
        	and UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateUser != null and updateUser != ''">
        	and UPDATE_USER = #{updateUser,jdbcType=VARCHAR}
        </if>
    </sql>
</mapper>