<!-- Modal -->
<div class="modal fade" id="myBindRolesModal" tabindex="-1" role="dialog" aria-labelledby="myBindRolesModalLabel" aria-hidden="true">
	<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">分配资源给角色</h4>
            </div>

            <div class="modal-body overflow-visible">
                <h4 id="role_resource_info" class="green"></h4>
                <input type="hidden" id="res_id" />
                <div class="row">
                    <div class="col-sm-4">
                        <h5>可用角色：</h5>
                        <select multiple="multiple" id="select1" style="width:120px;height:200px;">
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <p>&nbsp; &nbsp;</p>
                        <p>&nbsp; &nbsp;</p>
                        <p><button id="add" class="btn btn-info btn-xs">添加选中&nbsp;&gt;&gt;</button></p>
                        <p><button id="remove" class="btn btn-info btn-xs">&lt;&lt;&nbsp;删除选中</button></p>
                        <p>&nbsp; &nbsp;</p>
                        <p><button id="add_all" class="btn btn-success btn-xs">全部添加&nbsp;&gt;&gt;</button></p>
                        <p><button id="remove_all" class="btn btn-success btn-xs">&lt;&lt;&nbsp;全部删除</button></p>
                    </div>
                    <div class="col-sm-4">
                        <h5>已选角色：</h5>
                        <select multiple="multiple" id="select2" style="width: 120px;height:200px;">
                        </select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="icon-remove"></i>取消
                </button>

                <button class="btn btn-sm btn-primary" id="resource_role_submit">
                    <i class="icon-ok"></i>提交
                </button>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script language="javascript">         	
    function toBindRoles(id,name){
        $("#res_id").val(id);
        $("#role_resource_info").html("资源： "+name);
        jQuery.ajax({
            type: "POST",
            url: basePath + "/resourceRole/queryResourceAvailableRoleList",
            dataType : 'json',
            data: "resourceId=" + id,
            success: function(data){
                $("#select1").empty();
                if(data!=null && data.code==200){
                    var roleList=data.result;
                    if(roleList==null || roleList.length==0){
                        return;
                    } else {
                        for(var i=0;i<roleList.length;i++){
                            $("#select1").append($("<option/>").text(roleList[i].name).attr("value",roleList[i].id));
                        }
                    }
                }
            },
            error : function(data) {
                alert("获取可用角色异常");
            }
        });
        jQuery.ajax({
            type: "POST",
            url: basePath + "/resourceRole/queryResourceConfigedRoleList",
            dataType : 'json',
            data: "resourceId=" + id,
            success: function(data){
                $("#select2").empty();
                if(data!=null && data.code==200){
                    var roleList=data.result;
                    if(roleList==null || roleList.length==0){
                        return;
                    } else {
                        for(var i=0;i<roleList.length;i++){
                            $("#select2").append($("<option/>").text(roleList[i].name).attr("value",roleList[i].id));
                        }
                    }
                }
            },
            error : function(data) {
                //alert("error");
            }
        });
		
    	$('#myBindRolesModal').modal('show');
    }
	
	//移到右边
    $('#add').click(function() {
        //获取选中的选项，删除并追加给对方
        $('#select1 option:selected').appendTo('#select2');
    });
    //移到左边
    $('#remove').click(function() {
        $('#select2 option:selected').appendTo('#select1');
    });
    //全部移到右边
    $('#add_all').click(function() {
        //获取全部的选项,删除并追加给对方
        $('#select1 option').appendTo('#select2');
    });
    //全部移到左边
    $('#remove_all').click(function() {
        $('#select2 option').appendTo('#select1');
    });
    //双击选项
    $('#select1').dblclick(function(){ //绑定双击事件
        //获取全部的选项,删除并追加给对方
        $("option:selected",this).appendTo('#select2'); //追加给对方
    });
    //双击选项
    $('#select2').dblclick(function(){
        $("option:selected",this).appendTo('#select1');
    });
    $(document).ready(function () {
        jQuery("#crud").jqGrid('navGrid','#pcrud',{});
    });
    //提交
    $('#resource_role_submit').click(function() {
        var resId=$("#res_id").val();
        var items = $("#select2 option");
        var info = "";

        for (var i = 0; i < items.length; i++) {
            // 如果i+1等于选项长度则取值后添加空字符串，否则为逗号
            info = (info + items[i].value) + (((i + 1)== items.length) ? '':',');
        }

        jQuery.ajax({
            type: "POST",
            url: basePath + "/resourceRole/save",
            dataType : 'json',
            data: "resId="+resId+"&roleIds="+info ,
            success: function(data){
                if(data!=null && data.code==200){
                    alert("操作成功");
                    $('#myBindRolesModal').modal('hide');
                }else{
                    alert("操作失败");
                }
            },
            error : function(data) {
                alert("操作失败");
            }
        });
    });
</script>