<!DOCTYPE html>
<html lang="zh-cn">
<head>
    #parse("/layout/head.vm")
</head>
<body>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-search green"></i>资源查询
                        </h5>
                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="1 icon-chevron-up bigger-100"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #f5f5f5;padding:5px;">
                            <form class="form-horizontal" role="form" id="resourceForm">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right" for="form-field-1">资源名称</label>
                                        <div class="col-sm-3">
                                            <input type="text" name="name" id="name" placeholder="资源名称"  class="col-xs-10 col-sm-8" />
                                        </div>
                                        <label class="col-sm-1 control-label no-padding-right" for="form-field-1">资源编码</label>
                                        <div class="col-sm-3">
                                            <input type="text" name="code" id="code" placeholder="资源编码" class="col-xs-10 col-sm-8" />
                                        </div>
                                        <div class="col-sm-4">
                                            <button class="btn btn-info btn-sm" type="button" id="searchResource"><i class="icon-search"></i>查询</button>
                                            &nbsp; &nbsp; &nbsp;
                                            <button class="btn btn-sm" type="reset" id="reset"><i class="icon-undo"></i>重置</button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-xs-12 col-sm-12" style="margin-top:10px;">
            <table id="crud"></table>
            <div id="pcrud"></div>
        </div>
    </div><!-- /.row -->
    <div id="modal-form" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="blue bigger">分配资源给角色</h4>
                </div>

                <div class="modal-body overflow-visible">
                    <h4 id="role_resource_info" class="green"></h4>
                    <input type="hidden" id="res_id" />
                    <div class="row">
                        <div class="col-sm-4">
                            <h5>可用角色：</h5>
                            <select multiple="multiple" id="select1" style="width:120px;height:200px;">
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <p>&nbsp; &nbsp;</p>
                            <p>&nbsp; &nbsp;</p>
                            <p><button id="add" class="btn btn-info btn-xs">添加选中&nbsp;&gt;&gt;</button></p>
                            <p><button id="remove" class="btn btn-info btn-xs">&lt;&lt;&nbsp;删除选中</button></p>
                            <p>&nbsp; &nbsp;</p>
                            <p><button id="add_all" class="btn btn-success btn-xs">全部添加&nbsp;&gt;&gt;</button></p>
                            <p><button id="remove_all" class="btn btn-success btn-xs">&lt;&lt;&nbsp;全部删除</button></p>
                        </div>
                        <div class="col-sm-4">
                            <h5>已选角色：</h5>
                            <select multiple="multiple" id="select2" style="width: 120px;height:200px;">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-sm" data-dismiss="modal">
                        <i class="icon-remove"></i>取消
                    </button>

                    <button class="btn btn-sm btn-primary" id="resource_role_submit">
                        <i class="icon-ok"></i>提交
                    </button>
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript">
    jQuery("#crud").jqGrid({
        treeGrid:true,//树形表格
        treeGridModel:"adjacency",
        ExpandColumn:"name",//展开的列
        ExpandColClick:true,// 树形表格是否展开
        treeIcons: {plus:'glyphicon glyphicon-plus',minus:'glyphicon glyphicon-minus'},
        loadui: "disable",

        url:window.basePath+"/resource/queryResourceList",
        datatype: "json",
        mtype: 'POST',
        shrinkToFit:true,
        autowidth: true,
        width:'100%',
        height:'320',
        colNames:['编号','资源名称','资源编码','业务系统','类型','url','创建人', '创建时间','权限分配'],
        colModel:[
            {name:'id',index:'id', width:100, hidden:true,editable:true, editoptions:{size:"6",maxlength:"15"}, sorttype:'int'},
            {name:'name',index:'name', width:180, sortable:false,editable: true,editoptions:{size:"20",maxlength:"80"},editrules:{required:true,custom:true,custom_func:valName},formoptions:{elmsuffix:"<span style=\"color:red\">*</span>"}},
            {name:'code',index:'code', width:60, sortable:false,editable: false,editoptions:{size:"20",maxlength:"80"},editrules:{required:true,custom:true,custom_func:valCode},formoptions:{elmsuffix:"<span style=\"color:red\">*</span>"}},
            {name:'sysCode',index:'sysCode', width:120, sortable:false,editable: true,edittype:"select",editoptions:{value:showSystem()}},
            {name:'type',index:'type', width:40, sortable:false,editable: true,edittype:"select", editoptions:{value:"1:菜单;2:按钮",dataEvents:[{type:'change',fn:clearUrl}]}, formatter: setTypeShow},
            {name:'url',index:'url', width:300, sortable:false,editable: true,editoptions:{size:"30",maxlength:"200"},editrules:{custom:true,custom_func:valUrl}},
            {name:'createUser',index:'createUser', width:80, sortable:false,editable: false, editoptions:{size:"10",maxlength:"25"}},
            {name:'createTime',index:'createTime', width:150,sortable:false, editable:false, sorttype:"date"},
            //{name:'priority',index:'priority', width:100,editable:true, editoptions:{size:"6",maxlength:"15"}, sorttype:'int',editrules:{number:true}},
            //{name:'paramIcon',index:'paramIcon', width:80, sortable:false,editable: true, editoptions:{size:"10",maxlength:"25"}},
            //{name:'remark',index:'remark', width:150, sortable:false,editable: true, edittype:"textarea", editoptions:{rows:"2",cols:"20"}},
            {name:'myac0',index:'', width:80, fixed:true, sortable:false, resize:false}
    ],
        rowNum:100000,
        pager: '#pcrud',
        viewrecords: true,
        //caption:"资源列表" ,
        altRows: true,
        jsonReader:{
            root:"result",
            total:"totalpages",
            //page:"currpage"
            //records:"totalrecords"
            repeatitems:true
        },
        loadComplete : function() {
            var dataIds = $(this).jqGrid("getDataIDs");
            for (i in dataIds) {
                var rowData = $(this).jqGrid("getRowData", dataIds[i]);
                var view = "<i class='icon-hand-right green'></i><a href='#modal-form' role='button' class='blue' data-toggle='modal' onclick=\"showRoles('"
                        + dataIds[i]+"','"+rowData.name+"','"+rowData.cnName + "');\">分配</a>";
                var id="tr[id='" + dataIds[i] + "'] td[aria-describedby=crud_myac0]";
                $(id).html(view+$(id).html());
            }

            var table = this;
            setTimeout(function(){
                styleCheckbox(table);

                updateActionIcons(table);
                updatePagerIcons(table);
                enableTooltips(table);
            }, 0);
        },


        editurl: window.basePath+"/resource/save"
    }).navGrid('#pcrud',{
                edit:true,
                editicon : 'icon-pencil blue',
                add:true,
                addicon : 'icon-plus-sign purple',
                del:true,
                delicon : 'icon-trash red',
                search:false,
                searchicon : 'icon-search orange',
                refresh:true,
                refreshicon : 'icon-refresh green'
            },
        {closeAfterEdit : true},
        {closeAfterAdd : true}
    );
    $("#searchResource").click(function () {
        $("#crud").jqGrid("setGridParam",
                {postData: {
                    name: $("#name").val(),
                    code: $("#code").val()
                }}
        ).trigger("reloadGrid",[{page:1}]);
    });

    function setTypeShow(cellvalue, options, rowObject) {
        if (cellvalue == "1") {
            return "菜单";
        } else if (cellvalue == "2") {
            return "按钮";
        }
    }
    function clearUrl(e){
        var b_type=m_type=$('#type').val();
        if(b_type==2){
            $('#url').val("");
        }
    }
    function showSystem(){
        var str="";
        jQuery.ajax({
            type: "POST",
            async:false,
            url: basePath + "/businessSys/querySysList",
            dataType : 'json',
            success: function(data){
                if(data!=null && data.code==200){
                    var sysList=data.result;
                    if(sysList==null || sysList.length==0){
                        return;
                    } else {
                        var length=sysList.length;
                        for(var i=0;i<sysList.length;i++){
                            if(i!=length-1){
                                str+=sysList[i].code+":"+sysList[i].name+";";
                            }else{
                                str+=sysList[i].code+":"+sysList[i].name;
                            }
                        }
                    }
                }
            },
            error : function(data) {
                alert("获取业务系统异常");
            }
        });
        return str;
    }
    function showRoles(id,name){
        $("#res_id").val(id);
        $("#role_resource_info").html("资源： "+name);
        jQuery.ajax({
            type: "POST",
            url: basePath + "/resourceRole/queryResourceAvailableRoleList",
            dataType : 'json',
            data: "resourceId=" + id,
            success: function(data){
                $("#select1").empty();
                if(data!=null && data.code==200){
                    var roleList=data.result;
                    if(roleList==null || roleList.length==0){
                        return;
                    } else {
                        for(var i=0;i<roleList.length;i++){
                            $("#select1").append($("<option/>").text(roleList[i].name).attr("value",roleList[i].id));
                        }
                    }
                }
            },
            error : function(data) {
                alert("获取可用角色异常");
            }
        });
        jQuery.ajax({
            type: "POST",
            url: basePath + "/resourceRole/queryResourceConfigedRoleList",
            dataType : 'json',
            data: "resourceId=" + id,
            success: function(data){
                $("#select2").empty();
                if(data!=null && data.code==200){
                    var roleList=data.result;
                    if(roleList==null || roleList.length==0){
                        return;
                    } else {
                        for(var i=0;i<roleList.length;i++){
                            $("#select2").append($("<option/>").text(roleList[i].name).attr("value",roleList[i].id));
                        }
                    }
                }
            },
            error : function(data) {
                //alert("error");
            }
        });
    }
    function valName(value, colname){

        var rowId=$("#crud").jqGrid("getGridParam", "selrow");
        var rowData = $("#crud").jqGrid('getRowData',rowId);
        var resourceName= rowData.name;
        var len;
        if(rowId!=null){
            if(resourceName!=value){
                jQuery.ajax({
                    type: "POST",
                    async:false,
                    url: window.basePath+"/resource/getResources",
                    dataType : 'json',
                    data: "name=" + value,
                    success: function(data){
                        if(data!=null && data.code==200){
                            var resourceList=data.result;
                            if(resourceList!=null && resourceList.length>0){
                                len=0;
                            }
                        }
                    },
                    error : function(data) {
                        alert("校验资源名称失败！");
                    }
                });
            }
        }else{
            jQuery.ajax({
                type: "POST",
                async:false,
                url: window.basePath+"/resource/getResources",
                dataType : 'json',
                data: "name=" + value,
                success: function(data){
                    if(data!=null && data.code==200){
                        var resourceList=data.result;
                        if(resourceList!=null && resourceList.length>0){
                            len=0;
                        }
                    }
                },
                error : function(data) {
                    alert("校验资源名称失败！");
                }
            });
        }

        if (len==0)
            return [false,"资源名称【"+value+"】已经存在！"];
        else
            return [true,""];
    }

    function valCode(value, colname){

        var rowId=$("#crud").jqGrid("getGridParam", "selrow");
        var rowData = $("#crud").jqGrid('getRowData',rowId);
        var resourceCode= rowData.code;
        var len;
        /*var regx=/^[A-Za-z]+$/;
        var flag=regx.test(value);
        if (!flag){
            return [false,"资源编码只能由字母组成！"];
        }*/
        if(rowId!=null){
            if(resourceCode!=value){
                jQuery.ajax({
                    type: "POST",
                    async:false,
                    url: window.basePath+"/resource/getResources",
                    dataType : 'json',
                    data: "code=" + value,
                    success: function(data){
                        if(data!=null && data.code==200){
                            var resourceList=data.result;
                            if(resourceList!=null && resourceList.length>0){
                                len=0;
                            }
                        }
                    },
                    error : function(data) {
                        alert("校验资源编码失败！");
                    }
                });
            }
        }else{
            jQuery.ajax({
                type: "POST",
                async:false,
                url: window.basePath+"/resource/getResources",
                dataType : 'json',
                data: "code=" + value,
                success: function(data){
                    if(data!=null && data.code==200){
                        var resourceList=data.result;
                        if(resourceList!=null && resourceList.length>0){
                            len=0;
                        }
                    }
                },
                error : function(data) {
                    alert("校验资源编码失败！");
                }
            });
        }

        if (len==0)
            return [false,"资源编码【"+value+"】已经存在！"];
        else
            return [true,""];
    }
    function valUrl(value, colname){
        var m_type=$('#type').val();
        if (m_type==1&&value=="")
            return [false,"请填写url"];
        else
            return [true,""];

    }
    //移到右边
    $('#add').click(function() {
        //获取选中的选项，删除并追加给对方
        $('#select1 option:selected').appendTo('#select2');
    });
    //移到左边
    $('#remove').click(function() {
        $('#select2 option:selected').appendTo('#select1');
    });
    //全部移到右边
    $('#add_all').click(function() {
        //获取全部的选项,删除并追加给对方
        $('#select1 option').appendTo('#select2');
    });
    //全部移到左边
    $('#remove_all').click(function() {
        $('#select2 option').appendTo('#select1');
    });
    //双击选项
    $('#select1').dblclick(function(){ //绑定双击事件
        //获取全部的选项,删除并追加给对方
        $("option:selected",this).appendTo('#select2'); //追加给对方
    });
    //双击选项
    $('#select2').dblclick(function(){
        $("option:selected",this).appendTo('#select1');
    });
    $(document).ready(function () {
        jQuery("#crud").jqGrid('navGrid','#pcrud',{});
    });
    //提交
    $('#resource_role_submit').click(function() {
        var resId=$("#res_id").val();
        var items = $("#select2 option");
        var info = "";

        for (var i = 0; i < items.length; i++) {
            // 如果i+1等于选项长度则取值后添加空字符串，否则为逗号
            info = (info + items[i].value) + (((i + 1)== items.length) ? '':',');
        }

        jQuery.ajax({
            type: "POST",
            url: basePath + "/resourceRole/save",
            dataType : 'json',
            data: "resId="+resId+"&roleIds="+info ,
            success: function(data){
                if(data!=null && data.code==200){
                    alert("操作成功");
                    $('#modal-form').modal('hide')
                }else{
                    alert("操作失败");
                }
            },
            error : function(data) {
                alert("操作失败");
            }
        });
    });
</script>

</body>
</html>
