<!---------------------- 正文 ----------------------> 
<div class="container wid1200 clearfix">
	<!---------------------- 右则内容 ----------------------> 
    <div class="section right">
    	<h2 class="my_order"><span class="my_order_icon"></span>
			系统出错
			
		</h2>
		<div class='reds' style='font-size:13px;'>
			抱歉，找不到您要的页面<br />
			错误代码：$!errorCode；
			错误消息：$!errorMsg。
        </div>
    </div>
   <!---------------------- 右则内容end ----------------------> 
</div>
<!---------------------- 正文end ----------------------> 