<!DOCTYPE html>
<html lang="zh-cn">
    <head>
		#parse("/layout/head.vm")
        <script language="javascript">
            $(function() {
				$('#addForm').validate({
					errorElement:"em",
					errorClass:"red",
					rules: {
												userId: {required: true},
						userSex: {required: true},
						userBirthday: {required: true},
						userProvinceName: {required: true},
						userProvinceNo: {required: true},
						userCityName: {required: true},
						userCityNo: {required: true},
						userAreaName: {required: true},
						userAreaNo: {required: true},
						userAddress: {required: true},
						userTelephone: {required: true},
						userSafeques: {required: true},
						userSafeanswer: {required: true},
						userQq: {required: true},
						userGrade: {required: true},
						userBalance: {required: true},
						user integral: {required: true},
						createName: {required: true},
						updateName: {required: true},
					},
			
					messages: {
						userId: { required: "请输入用户ID"},
						userSex: { required: "请输入性别"},
						userBirthday: { required: "请输入生日"},
						userProvinceName: { required: "请输入地区-省份-名称"},
						userProvinceNo: { required: "请输入地区-省份-编号"},
						userCityName: { required: "请输入地区-市-名称"},
						userCityNo: { required: "请输入地区-市-编号"},
						userAreaName: { required: "请输入地区-区-名称"},
						userAreaNo: { required: "请输入地区-区-编号"},
						userAddress: { required: "请输入联系地址"},
						userTelephone: { required: "请输入固定电话"},
						userSafeques: { required: "请输入安全问题"},
						userSafeanswer: { required: "请输入安全问题答案"},
						userQq: { required: "请输入QQ"},
						userGrade: { required: "请输入会员等级"},
						userBalance: { required: "请输入当前账户余额"},
						user integral: { required: "请输入我的剩余积分"},
						createName: { required: "请输入创建人"},
						updateName: { required: "请输入修改人"},
					}
				});
				
				$("#btn-back").click(function(){
					window.location.href=("$basePath/userBasic");
				});
				$("#btn-submit").click(function(){
            		var form = $("#addForm");
					if(form.valid()==false){
						return;
					}
					jQuery.post('$basePath/userBasic/add',
            			form.serialize(),
            			function(data) { MyPopWindow.SubmitCompletedCallback2(data, "$basePath/userBasic"); }
            		);
            	});
            });
        </script>
    </head>
	<body>
		<div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-plus green"></i>用户基本信息&nbsp;&gt;&nbsp;新增
                        </h5>
                        <div class="widget-toolbar"></div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #fff;padding:5px;">
                            <form class="form-horizontal" role="form" id="addForm">
                                <div class="form-group">
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userId">用户ID</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userId" id="userId" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userSex">性别</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userSex" id="userSex" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userBirthday">生日</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userBirthday" id="userBirthday" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userProvinceName">地区-省份-名称</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userProvinceName" id="userProvinceName" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userProvinceNo">地区-省份-编号</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userProvinceNo" id="userProvinceNo" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userCityName">地区-市-名称</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userCityName" id="userCityName" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userCityNo">地区-市-编号</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userCityNo" id="userCityNo" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userAreaName">地区-区-名称</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userAreaName" id="userAreaName" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userAreaNo">地区-区-编号</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userAreaNo" id="userAreaNo" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userAddress">联系地址</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userAddress" id="userAddress" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userTelephone">固定电话</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userTelephone" id="userTelephone" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userSafeques">安全问题</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userSafeques" id="userSafeques" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userSafeanswer">安全问题答案</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userSafeanswer" id="userSafeanswer" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userQq">QQ</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userQq" id="userQq" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userGrade">会员等级</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userGrade" id="userGrade" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userBalance">当前账户余额</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userBalance" id="userBalance" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="user integral">我的剩余积分</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="user integral" id="user integral" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="createName">创建人</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="createName" id="createName" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="updateName">修改人</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="updateName" id="updateName" class="col-xs-12 col-sm-12" />
                                    </div>
                                </div>
								<div class="form-group">
									<div class="col-sm-8 col-sm-offset-4">
                                        <button class="btn btn-info btn-sm" type="button" id="btn-back"><i class="icon-arrow-left"></i>返回</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>重置</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-submit"><i class="icon-ok"></i>提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
	</body>
</html>
