<!-- Modal -->
<div class="modal fade" id="myUserBasicModal" tabindex="-1" role="dialog" aria-labelledby="myUserBasicModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myUserBasicModalLabel">用户基本信息详情</h4>
			</div>
			<div class="modal-body"> 
				<table class="table table-striped table-bordered table-condensed table-hover">
					<tbody>
						<tr>
							<th class="center" style='width:25%;'>id自增</th><td id="r_id" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>用户ID</th><td id="r_userId" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>性别</th><td id="r_userSex" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>生日</th><td id="r_userBirthday" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>地区-省份-名称</th><td id="r_userProvinceName" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>地区-省份-编号</th><td id="r_userProvinceNo" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>地区-市-名称</th><td id="r_userCityName" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>地区-市-编号</th><td id="r_userCityNo" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>地区-区-名称</th><td id="r_userAreaName" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>地区-区-编号</th><td id="r_userAreaNo" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>联系地址</th><td id="r_userAddress" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>固定电话</th><td id="r_userTelephone" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>安全问题</th><td id="r_userSafeques" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>安全问题答案</th><td id="r_userSafeanswer" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>QQ</th><td id="r_userQq" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>会员等级</th><td id="r_userGrade" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>当前账户余额</th><td id="r_userBalance" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>我的剩余积分</th><td id="r_user integral" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>创建时间</th><td id="r_createTime" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>修改时间</th><td id="r_updateTime" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>创建人</th><td id="r_createName" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>修改人</th><td id="r_updateName" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>是否有效</th><td id="r_yn" style='width:25%;'></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script language="javascript">         	
    function toDetail(parameterId){
		$("#tab_online_tbody").html("");
		$("#tab_config_tbody").html("");
		$("#tab_log_tbody").html("");
    	jQuery.ajax({
    		type: "GET",
    		url: basePath + "/userBasic/detail",
    		dataType : 'json',
    		data: "id=" + parameterId,
    		
    		success: function(data){
    			if(data!=null && data.code==200 && data.result!=null){
    				var r = data.result;
    				$("#r_id").text(r.id==null?"":r.id);
    				$("#r_userId").text(r.userId==null?"":r.userId);
    				$("#r_userSex").text(r.userSex==null?"":r.userSex);
    				$("#r_userBirthday").text(r.userBirthday==null?"":r.userBirthday);
    				$("#r_userProvinceName").text(r.userProvinceName==null?"":r.userProvinceName);
    				$("#r_userProvinceNo").text(r.userProvinceNo==null?"":r.userProvinceNo);
    				$("#r_userCityName").text(r.userCityName==null?"":r.userCityName);
    				$("#r_userCityNo").text(r.userCityNo==null?"":r.userCityNo);
    				$("#r_userAreaName").text(r.userAreaName==null?"":r.userAreaName);
    				$("#r_userAreaNo").text(r.userAreaNo==null?"":r.userAreaNo);
    				$("#r_userAddress").text(r.userAddress==null?"":r.userAddress);
    				$("#r_userTelephone").text(r.userTelephone==null?"":r.userTelephone);
    				$("#r_userSafeques").text(r.userSafeques==null?"":r.userSafeques);
    				$("#r_userSafeanswer").text(r.userSafeanswer==null?"":r.userSafeanswer);
    				$("#r_userQq").text(r.userQq==null?"":r.userQq);
    				$("#r_userGrade").text(r.userGrade==null?"":r.userGrade);
    				$("#r_userBalance").text(r.userBalance==null?"":r.userBalance);
    				$("#r_user integral").text(r.user integral==null?"":r.user integral);
    				$("#r_createTime").text(r.createTime==null?"":r.createTime);
    				$("#r_updateTime").text(r.updateTime==null?"":r.updateTime);
    				$("#r_createName").text(r.createName==null?"":r.createName);
    				$("#r_updateName").text(r.updateName==null?"":r.updateName);
    				$("#r_yn").text(r.yn==null?"":r.yn);
    			} else {
    				alert("获取详情失败");
    			}
    		},
    		
    		error : function(data) {
    			alert("获取详情出现异常");
    		}
    	});
		
    	$('#myUserBasicModal').modal('show');
    }
</script>