<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        #parse("/layout/head.vm")
		<script language="javascript"> 
			$(function() {
				$("#btn-query").click(function() {
        			pageSubmit(1);
   				});
				$("#btn-add").click(function() {
        			window.location.href=("$basePath/userBasic/addForward");
   				});
			});
        	// 提交分页查询
        	function pageSubmit(pageNoParam) {
                $("#curPage").val(pageNoParam);
            	$("#queryForm").attr("action", "$basePath/userBasic");
                $("#queryForm").attr("method", "POST");
                $("#queryForm").submit();
        	}
        	
        	function toUpdate(parameterId){
        		window.location.href=("$basePath/userBasic/updateForward?id="+parameterId);
        	}
        	
        	function toDelete(parameterId){
        		MyPopWindow.ExecuteDelete("$basePath/userBasic/delete",{ id : parameterId });
        	}
        	
        </script>
	</head>
    <body>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-search green"></i>用户基本信息查询
                        </h5>
                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="1 icon-chevron-up bigger-100"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #f5f5f5;padding:5px;">
                            <form class="form-horizontal" role="form" id="queryForm">
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="userId">用户ID</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="userId" id="userId" class="col-xs-10 col-sm-8" value="$!query.userId"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="userSex">性别</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="userSex" id="userSex" class="col-xs-10 col-sm-8" value="$!query.userSex"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="userBirthday">生日</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="userBirthday" id="userBirthday" class="col-xs-10 col-sm-8" value="$!query.userBirthday"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="userProvinceName">地区-省份-名称</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="userProvinceName" id="userProvinceName" class="col-xs-10 col-sm-8" value="$!query.userProvinceName"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="userProvinceNo">地区-省份-编号</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="userProvinceNo" id="userProvinceNo" class="col-xs-10 col-sm-8" value="$!query.userProvinceNo"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="userCityName">地区-市-名称</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="userCityName" id="userCityName" class="col-xs-10 col-sm-8" value="$!query.userCityName"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="userCityNo">地区-市-编号</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="userCityNo" id="userCityNo" class="col-xs-10 col-sm-8" value="$!query.userCityNo"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="userAreaName">地区-区-名称</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="userAreaName" id="userAreaName" class="col-xs-10 col-sm-8" value="$!query.userAreaName"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="userAreaNo">地区-区-编号</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="userAreaNo" id="userAreaNo" class="col-xs-10 col-sm-8" value="$!query.userAreaNo"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="userAddress">联系地址</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="userAddress" id="userAddress" class="col-xs-10 col-sm-8" value="$!query.userAddress"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="userTelephone">固定电话</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="userTelephone" id="userTelephone" class="col-xs-10 col-sm-8" value="$!query.userTelephone"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="userSafeques">安全问题</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="userSafeques" id="userSafeques" class="col-xs-10 col-sm-8" value="$!query.userSafeques"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="userSafeanswer">安全问题答案</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="userSafeanswer" id="userSafeanswer" class="col-xs-10 col-sm-8" value="$!query.userSafeanswer"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="userQq">QQ</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="userQq" id="userQq" class="col-xs-10 col-sm-8" value="$!query.userQq"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="userGrade">会员等级</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="userGrade" id="userGrade" class="col-xs-10 col-sm-8" value="$!query.userGrade"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="userBalance">当前账户余额</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="userBalance" id="userBalance" class="col-xs-10 col-sm-8" value="$!query.userBalance"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="user integral">我的剩余积分</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="user integral" id="user integral" class="col-xs-10 col-sm-8" value="$!query.user integral"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="createName">创建人</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="createName" id="createName" class="col-xs-10 col-sm-8" value="$!query.createName"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="updateName">修改人</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="updateName" id="updateName" class="col-xs-10 col-sm-8" value="$!query.updateName"/>
                                    </div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 col-sm-offset-8">
    									#parse("/layout/page.vm")
                                        <button class="btn btn-info btn-sm" type="button" id="btn-query"><i class="icon-search"></i>查询</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>重置</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-add"><i class="icon-plus"></i>新增</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
			<div class="col-xs-12 col-sm-12 table-responsive">
                <table class="table table-striped table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
							<th class="center">id自增</th>
							<th class="center">用户ID</th>
							<th class="center">性别</th>
							<th class="center">生日</th>
							<th class="center">地区-省份-名称</th>
							<th class="center">地区-省份-编号</th>
							<th class="center">地区-市-名称</th>
							<th class="center">地区-市-编号</th>
							<th class="center">地区-区-名称</th>
							<th class="center">地区-区-编号</th>
							<th class="center">联系地址</th>
							<th class="center">固定电话</th>
							<th class="center">安全问题</th>
							<th class="center">安全问题答案</th>
							<th class="center">QQ</th>
							<th class="center">会员等级</th>
							<th class="center">当前账户余额</th>
							<th class="center">我的剩余积分</th>
							<th class="center">创建时间</th>
							<th class="center">创建人</th>
							<th class="center">修改人</th>
    						<th class="center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        #foreach( $item in $dataList)
                            <tr>
                                <td>$!item.id</td>
                                <td>$!item.userId</td>
                                <td>$!item.userSex</td>
                                <td>$!item.userBirthday</td>
                                <td>$!item.userProvinceName</td>
                                <td>$!item.userProvinceNo</td>
                                <td>$!item.userCityName</td>
                                <td>$!item.userCityNo</td>
                                <td>$!item.userAreaName</td>
                                <td>$!item.userAreaNo</td>
                                <td>$!item.userAddress</td>
                                <td>$!item.userTelephone</td>
                                <td>$!item.userSafeques</td>
                                <td>$!item.userSafeanswer</td>
                                <td>$!item.userQq</td>
                                <td>$!item.userGrade</td>
                                <td>$!item.userBalance</td>
                                <td>$!item.user integral</td>
                                <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss ',$!item.createTime)</td>
                                <td>$!item.createName</td>
                                <td>$!item.updateName</td>
                                <td>
									<a href="javascript:void(0)" onclick="toDetail($!item.id);" data-toggle="modal"><i class="icon-list">详情</i></a>
									<a href="javascript:void(0)" onclick="toUpdate($!item.id)"><i class="icon-pencil pink">修改</i></a>
									<a href="javascript:void(0)" onclick="toDelete($!item.id)"><i class="icon-remove red">删除</i></a>
								</td>
                            </tr>
                        #end
                    </tbody>
                </table>
				#pageBarPost($page.totalRow $page.curPage $page.totalPage)
			</div>
        </div>
		#parse("/userBasic/detailModal.vm")
    </body>
</html>
