<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd"
	default-autowire="byName">
	
	<bean id="userAccountClient" class="com.awe.uc.sdk.UserAccountClient">
		<property name="key" value="${mall.common.key}" />
		<property name="serviceUrlDomain" value="${service.url.domain.uc}" />
	</bean>
	<bean id="userAddressClient" class="com.awe.uc.sdk.UserAddressClient">
		<property name="key" value="${mall.common.key}" />
		<property name="serviceUrlDomain" value="${service.url.domain.uc}" />
	</bean>
	<bean id="userProfileClient" class="com.awe.uc.sdk.UserProfileClient">
		<property name="key" value="${mall.common.key}" />
		<property name="serviceUrlDomain" value="${service.url.domain.uc}" />
	</bean>
	<!--awe-order-sdk start-->
	<bean id="orderCancelClient" class="com.awe.order.sdk.OrderCancelClient">
		<property name="key" value="${mall.common.key}" />
		<property name="serviceUrlDomain" value="${service.url.domain.order}" />
	</bean>
	<bean id="ordersClient" class="com.awe.order.sdk.OrdersClient">
		<property name="key" value="${mall.common.key}" />
		<property name="serviceUrlDomain" value="${service.url.domain.order}" />
	</bean>
	<bean id="shoppingCartClient" class="com.awe.order.sdk.ShoppingCartClient">
		<property name="key" value="${mall.common.key}" />
		<property name="serviceUrlDomain" value="${service.url.domain.order}" />
	</bean>
	<!--awe-order-sdk end-->
	<!--awe-rems-sdk start-->
	<bean id="returnExchangeClient" class="com.awe.rems.sdk.ReturnExchangeClient">
		<property name="key" value="${mall.common.key}" />
		<property name="serviceUrlDomain" value="${service.url.domain.rems}" />
	</bean>
	<bean id="refundClient" class="com.awe.rems.sdk.RefundClient">
		<property name="key" value="${mall.common.key}" />
		<property name="serviceUrlDomain" value="${service.url.domain.rems}" />
	</bean>
	<!--awe-rems-sdk end-->
	<!--awe-pay-sdk start-->
	<bean id="payRefundClient" class="com.awe.pay.sdk.RefundClient">
		<property name="key" value="${mall.common.key}" />
		<property name="serviceUrlDomain" value="${service.url.domain.pay}" />
	</bean>
	<bean id="tradeClient" class="com.awe.pay.sdk.TradeClient">
		<property name="key" value="${mall.common.key}" />
		<property name="serviceUrlDomain" value="${service.url.domain.pay}" />
	</bean>
	<!--awe-pay-sdk end-->
	<!-- awe-pms-sdk start -->
	<bean id="productBrandClient" class="com.awe.pms.sdk.ProductBrandClient">
		<property name="key" value="${mall.common.key}" />
		<property name="serviceUrlDomain" value="${service.url.domain.pms}" />
	</bean>
	
	<bean id="productCategoryClient" class="com.awe.pms.sdk.ProductCategoryClient">
		<property name="key" value="${mall.common.key}" />
		<property name="serviceUrlDomain" value="${service.url.domain.pms}" />
	</bean>
	
	<bean id="productClient" class="com.awe.pms.sdk.ProductClient">
		<property name="key" value="${mall.common.key}" />
		<property name="serviceUrlDomain" value="${service.url.domain.pms}" />
	</bean>
	
	<bean id="productDictClient" class="com.awe.pms.sdk.ProductDictClient">
		<property name="key" value="${mall.common.key}" />
		<property name="serviceUrlDomain" value="${service.url.domain.pms}" />
	</bean>
	<!-- awe-pms-sdk end -->
	
	<!-- com.awe.uc.sdk start  -->
	<bean id="areaClient" class="com.awe.uc.sdk.AreaClient">
		<property name="serviceUrlDomain" value="${service.url.domain.uc}" />
		<property name="key" value="${mall.common.key}" />
	</bean>
	<!-- com.awe.uc.sdk end  -->
	
	<!-- com.awe.uc.sdk start  -->
	<bean id="productSkuClient" class="com.awe.pms.sdk.ProductSkuClient">
		<property name="serviceUrlDomain" value="${service.url.domain.pms}" />
		<property name="key" value="${mall.common.key}" />
	</bean>
	<!-- com.awe.uc.sdk end  -->
	
</beans>
