<!DOCTYPE html>
<html lang="zh-cn">
    <head>
		#parse("/layout/head.vm")
        <script language="javascript">
            $(function() {
				$('#addForm').validate({
					errorElement:"em",
					errorClass:"red",
					rules: {
												orderNo: {required: true},
						voucherNo: {required: true},
						type: {required: true},
						status: {required: true},
						effectiveTime: {required: true},
						deadLine: {required: true},
						generateTime: {required: true},
					},
			
					messages: {
						orderNo: { required: "请输入订单号"},
						voucherNo: { required: "请输入券号"},
						type: { required: "请输入类型"},
						status: { required: "请输入状态"},
						effectiveTime: { required: "请输入有效期"},
						deadLine: { required: "请输入截止日期"},
						generateTime: { required: "请输入生成时间"},
					}
				});
				
				$("#btn-back").click(function(){
					window.location.href=("$basePath/eCoupon");
				});
				$("#btn-submit").click(function(){
            		var form = $("#addForm");
					if(form.valid()==false){
						return;
					}
					jQuery.post('$basePath/eCoupon/add',
            			form.serialize(),
            			function(data) { MyPopWindow.SubmitCompletedCallback2(data, "$basePath/eCoupon"); }
            		);
            	});
            });
        </script>
    </head>
	<body>
		<div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-plus green"></i>电子券&nbsp;&gt;&nbsp;新增
                        </h5>
                        <div class="widget-toolbar"></div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #fff;padding:5px;">
                            <form class="form-horizontal" role="form" id="addForm">
                                <div class="form-group">
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="orderNo">订单号</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="orderNo" id="orderNo" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="voucherNo">券号</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="voucherNo" id="voucherNo" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="type">类型</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="type" id="type" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="status">状态</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="status" id="status" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="effectiveTime">有效期</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="effectiveTime" id="effectiveTime" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="deadLine">截止日期</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="deadLine" id="deadLine" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="generateTime">生成时间</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="generateTime" id="generateTime" class="col-xs-12 col-sm-12" />
                                    </div>
                                </div>
								<div class="form-group">
									<div class="col-sm-8 col-sm-offset-4">
                                        <button class="btn btn-info btn-sm" type="button" id="btn-back"><i class="icon-arrow-left"></i>返回</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>重置</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-submit"><i class="icon-ok"></i>提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
	</body>
</html>
