<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		#parse("/layout/head.vm")
	</head>
	<body>
		<div class="row">							
			<div class="col-xs-12 col-sm-12">
				<div class="widget-box">
					<div class="widget-header">
      					<h5 class="lighter">
      	  					<i class="icon-pencil green"></i>
      	  					用户密码修改
      	  				</h5>
    				</div>
					<div class="widget-body">
						<div class="widget-main" style="background-color: #f5f5f5;padding:5px;">
                            <h5 class="red" style="margin-left:120px;">提示：修改密码功能不支持修改内部用户的密码</h5>
            				<form class="form-horizontal" role="form" name="modify-password-from" id="modify-password-form">
								<input type="hidden" id="remark" name="remark" value="modify" />
              					<div class="form-group">
          							<label for="name" class="col-sm-2 control-label">账号</label>
    		                      	<div class="col-sm-4">
    		                        	<input class="col-sm-4 form-control" type="text" id="name" name="name"/>
    		                      	</div>
        		                </div>
								<div class="form-group">
                					<label for="cnName" class="col-sm-2 control-label">原始密码</label>
                					<div class="col-sm-4">
										<input class="col-sm-4 form-control" type="password" name="cnName" id="cnName"/>
									</div>
        		                </div>
								<div class="form-group">
									<label for="cnName2" class="col-sm-2 control-label">确认原始密码</label>
                					<div class="col-sm-4">
										<input class="col-sm-4 form-control" type="password" name="cnName2" id="cnName2" />
									</div>
        		                </div>
								<div class="form-group">
                					<label for="password" class="col-sm-2 control-label">新密码</label>
                					<div class="col-sm-4">
										<input class="col-sm-4 form-control" type="password" name="password" id="password"/>
									</div>
        		                </div>
								<div class="form-group">
									<label for="password2" class="col-sm-2 control-label">确认新密码</label>
                					<div class="col-sm-4">
										<input class="col-sm-4 form-control" type="password" name="password2" id="password2" />
									</div>
        		                </div>
								<div class="form-group">
    								<div class="col-sm-4 col-sm-offset-2">
              							<button class="btn btn-sm btn-primary" type="button" id="modify-password-submit-btn"><i class="icon-ok"></i>提交</button>&nbsp; &nbsp;
										<button class="btn btn-sm" type="reset"><i class="icon-undo"></i>重置</button>
            						</div>
        						</div>	
        					</form>	 
          				</div>
					</div>
				</div>
			</div>

		</div><!-- /.row -->
		
		<script type="text/javascript">
            $(function(){
				
				$('#modify-password-form').validate({
					errorElement:"em",
					errorClass:"red",
					rules: {
						name: {
							required: true
						},
						cnName: {
							required: true,
							minlength: 5
						},
						cnName2: {
							required: true,
							minlength: 5,
							equalTo: "#cnName"
						},
						password: {
							required: true,
							minlength: 5
						},
						password2: {
							required: true,
							minlength: 5,
							equalTo: "#password"
						}
					},
			
					messages: {
						name: {
							required: "请输入账号"
						},
						cnName: {
							required: "请输入原始密码",
							minlength: "请输入至少5个字符的密码"
						},
						cnName2: {
							required: "请输入确认原始密码",
							minlength: "请输入至少5个字符的密码",
							equalTo: "确认原始密码和原始密码不一致"
						},
						password: {
							required: "请输入新密码",
							minlength: "请输入至少5个字符的密码"
						},
						password2: {
							required: "请输入确认新密码",
							minlength: "请输入至少5个字符的密码",
							equalTo: "确认新密码和新密码不一致"
						}
					}
				});

            	
            	$("#modify-password-submit-btn").click(function() {
					var form = $("#modify-password-form");
					if(form.valid()==false){
						return;
					}
            		jQuery.ajax({
            			type: "POST",
            			url: basePath + "/user/changePassword",
            			dataType : 'json',
            			data: {name:$("#name").val(),cnName:$("#cnName").val(),password:$("#password").val(),remark:$("#remark").val()},
            			success: function(data){
							if(data == null || data.message == null){
								alert("操作失败");
								$("#name").focus();
							} else if(data.code==200){
            					alert("操作成功");
								$('#modify-password-form')[0].reset();
							} else{
            					alert(data.message);
								$("#name").focus();
            				}
            			},
            			error : function(data) {
            				alert("操作失败");
							$("#name").focus();
            			}
            		});
                });
    			
            });
		</script>
    </body>
</html>
