<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		#parse("/layout/head.vm")
	</head>
	<body>
		<div class="row">							
			<div class="col-xs-12 col-sm-12">
				<div class="widget-box">
					<div class="widget-header">
      					<h5 class="lighter">
      	  					<i class="icon-user green"></i>
      	  					域账户同步
      	  				</h5>
    				</div>
					<div class="widget-body">
						<div class="widget-main" style="background-color: #f5f5f5;padding:5px;">
							<form class="form-horizontal" role="form" name="supplement-from" id="supplement-form">
              					<div class="form-group">
    		                      	<label class="col-sm-2 control-label no-padding-right" for="cnName">域账户</label>
    		                      	<div class="col-sm-4">
    		                        	<input type="text" id="name" name="name" placeholder="域账户" class="col-xs-10 col-sm-8" />
										<span class="input-group-addon">@hbird.com</span>
    		                      	</div>
    								<div class="col-sm-4 col-sm-offset-2">
              							<button class="btn btn-info btn-sm" id="supplement-submit-btn" type="button"><i class="icon-refresh"></i>确定同步</button>
            						</div>
        						</div>	
								<div class="form-group">
    								<div class="col-sm-10 col-sm-offset-2" id="supplement-result">
            						</div>
        						</div>
        					</form>	 
          				</div>
					</div>
				</div>
			</div>

		</div><!-- /.row -->
		<script type="text/javascript">
            $(function(){
				$('#supplement-form').validate({
					errorElement:"em",
					errorClass:"red",
					rules: {
						name: { required: true }
					},
			
					messages: {
						name: { required: "请输入账号" }
					}
				});

            	
            	$("#supplement-submit-btn").click(function() {
					var form = $("#supplement-form");
					if(form.valid()==false){
						return;
					}
					var n=$("#name").val().replace(/(^\s*)|(\s*$)/g,"")+"@hbird.com";
            		jQuery.ajax({
            			type: "POST",
            			url: basePath + "/user/supplement",
            			dataType : 'json',
            			data: {name:n},
            			success: function(data){
							if(data == null){
								alert("操作失败");
							} else if(data.code==200){
								$("#name").val("");
								var newUser =data.result;
								if(newUser!=null && newUser.cnName!=null && newUser.name!=null) {
									alert("同步成功，用户姓名："+newUser.cnName+"，用户账号："+newUser.name);
								}else{
									alert("同步成功，请到用户管理界面查询明细");
								}
							} else{
            					alert(data.message);
            				}
							$("#name").focus();
            			},
            			error : function(data) {
            				if(data == null){
								alert("操作失败");
							} else {
            					alert(data.message);
							}
							$("#name").focus();
            			}
            		});
                });
    			
            });
		</script>
    </body>
</html>
