<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        #parse("/layout/head.vm")
		<script language="javascript"> 
			$(function() {
				$("#btn-query").click(function() {
        			pageSubmit(1);
   				});
				$("#btn-add").click(function() {
        			window.location.href=("$basePath/productSelect/addForward");
   				});
			});
        	// 提交分页查询
        	function pageSubmit(pageNoParam) {
                $("#curPage").val(pageNoParam);
            	$("#queryForm").attr("action", "$basePath/productSelect");
                $("#queryForm").attr("method", "POST");
                $("#queryForm").submit();
        	}
        	
        	function toUpdate(parameterId){
        		window.location.href=("$basePath/productSelect/updateForward?id="+parameterId);
        	}
        	
        	function toDelete(parameterId){
        		MyPopWindow.ExecuteDelete("$basePath/productSelect/delete",{ id : parameterId });
        	}
        	
        </script>
	</head>
    <body>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-search green"></i>商品查询综合表查询
                        </h5>
                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="1 icon-chevron-up bigger-100"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #f5f5f5;padding:5px;">
                            <form class="form-horizontal" role="form" id="queryForm">
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="categoryOneId">一级分类</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="categoryOneId" id="categoryOneId" class="col-xs-10 col-sm-8" value="$!query.categoryOneId"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="categoryTwoId">二级分类</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="categoryTwoId" id="categoryTwoId" class="col-xs-10 col-sm-8" value="$!query.categoryTwoId"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="categoryThreeId">三级分类</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="categoryThreeId" id="categoryThreeId" class="col-xs-10 col-sm-8" value="$!query.categoryThreeId"/>
                                    </div>
                                </div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="productNo">商品编号</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="productNo" id="productNo" class="col-xs-10 col-sm-8" value="$!query.productNo"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="skuNo">sku编号</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="skuNo" id="skuNo" class="col-xs-10 col-sm-8" value="$!query.skuNo"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="brandCode">品牌编号</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="brandCode" id="brandCode" class="col-xs-10 col-sm-8" value="$!query.brandCode"/>
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="productName">商品名称</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="productName" id="productName" class="col-xs-10 col-sm-8" value="$!query.productName"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="skuName">SKU名称</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="skuName" id="skuName" class="col-xs-10 col-sm-8" value="$!query.skuName"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="mode">经营模式</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="mode" id="mode" class="col-xs-10 col-sm-8" value="$!query.mode"/>
                                    </div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 col-sm-offset-5">
    									#parse("/layout/page.vm")
                                        <button class="btn btn-info btn-sm" type="button" id="btn-query"><i class="icon-search"></i>查询</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
			<div class="col-xs-12 col-sm-12 table-responsive">
                <table class="table table-striped table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
							<th class="center">商品编号</th>
							<th class="center">商品名称</th>
							<th class="center">sku编号</th>
							<th class="center">SKU名称</th>
							<th class="center">分类</th>
							<th class="center">适用阶段</th>
							<th class="center">品牌编号</th>
							<th class="center">经营模式</th>
							<th class="center">销售价</th>
							<th class="center">市场价</th>
							<th class="center">Sku主图</th>
							<th class="center">总销售量</th>
							<th class="center">每周销售量</th>
							<th class="center">推荐数量</th>
							<th class="center">是否推荐</th>
							<th class="center">是否热门</th>
							<th class="center">总浏览次数</th>
							<th class="center">上下架状态</th>
							<th class="center">每周浏览次数</th>
							<th class="center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        #foreach( $item in $dataList)
                            <tr>
                                <td>$!item.productNo</td>
                                <td>$!item.productName</td>
                                <td>$!item.skuNo</td>
                                <td>$!item.skuName</td>
                                <td>$!item.categoryOneId - $!item.categoryTwoId - $!item.categoryThreeId</td>
                                <td>$!item.applicableStep</td>
                                <td>$!item.brandCode</td>
                                <td>$!item.mode</td>
                                <td>$!item.salePrice</td>
                                <td>$!item.price</td>
                                <td><img src="$!{imgUrl}$!item.imgPath"></img></td>
                                <td>$!item.saleQuantityTotal</td>
                                <td>$!item.saleQuantityWeek</td>
                                <td>$!item.recommendAmount</td>
                                <td>$!item.isRecommend</td>
                                <td>$!item.isHot</td>
                                <td>$!item.hitCountTotal</td>
                                <td>$!item.saleStatus</td>
                                <td>$!item.hitCountWeek</td>
								<td>
									<a href="javascript:void(0)" onclick="toDelete($!item.id)"><i class="icon-remove red">删除</i></a>
								</td>
                            </tr>
                        #end
                    </tbody>
                </table>
				#pageBarPost($page.totalRow $page.curPage $page.totalPage)
			</div>
        </div>
		#parse("/productSelect/detailModal.vm")
    </body>
</html>
