<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
        
	<!-- 要调用的工作类 -->
	<bean id="userSyncJob" class="com.hbird.portal.job.UserSyncJob"/>
	<bean id="depSyncJob" class="com.hbird.portal.job.DepSyncJob"/>
	
	<!-- 定义调用对象和调用对象的方法 -->
	<bean id="depSyncJobTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject">
			<ref bean="depSyncJob" />
		</property>
		<!-- 调用类中的方法 -->
		<property name="targetMethod">
			<value>execute</value>
		</property>
	</bean>
	
	<bean id="userSyncJobTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject">
			<ref bean="userSyncJob" />
		</property>
		<!-- 调用类中的方法 -->
		<property name="targetMethod">
			<value>execute</value>
		</property>
	</bean>
	
	
	<!-- 定义触发时间 -->
	<bean id="doDepSyncJobTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="depSyncJobTask" />
		</property>
		<!-- cron表达式 -->
		<property name="cronExpression">
			<value>0 0 3 * * ?</value>
		</property>
	</bean>
	
	<bean id="doUserSyncJobTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="userSyncJobTask" />
		</property>
		<!-- cron表达式 -->
		<property name="cronExpression">
			<value>0 30 3 * * ?</value>
		</property>
	</bean>
	
	<!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  -->
	<bean id="startQuertz" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="doDepSyncJobTime" />
				<ref bean="doUserSyncJobTime" />
			</list>
		</property>
	</bean>

</beans>