<style type="text/css">
input[type="text"]{
border: 1px solid; border-color: #CCC #EEE #EEE #CCC;
background: #F5F5F5;
}
</style>

<style type="text/css">
.button{
width: 140px;
line-height: 38px;
text-align: center;
font-weight: bold;
color: #fff;
text-shadow:1px 1px 1px #333;
border-radius: 5px;
margin:0 20px 20px 0;
position: relative;
overflow: hidden;
}

.button.red{
border:1px solid #b42323;
box-shadow: 0 1px 2px #e99494 inset,0 -1px 0 #954b4b inset,0 -2px 3px #e99494 inset;
background: -webkit-linear-gradient(top,#d53939,#b92929);
background: -moz-linear-gradient(top,#d53939,#b92929);
background: linear-gradient(top,#d53939,#b92929);
}

.red:active{
top:1px;
box-shadow: 0 1px 3px #5b0505 inset,0 3px 0 #fff;
background: -webkit-linear-gradient(top,#b11a1a,#bf2626);
background: -moz-linear-gradient(top,#b11a1a,#bf2626);
background: linear-gradient(top,#b11a1a,#bf2626);
}


</style>
 <script language="javascript">
    $(function(){
	//加载用户配送地址
	user_address();
	//加载省
	province();
	
      $("#user_update").hide();
      $("#add_address").hide();
    })
 	function update(){
 		//隐藏
 		$("#user_basic").hide();
 		//显示
 		$("#user_update").show();
		//给 div user_Info 加颜色   style="border: 3px solid #f60"
		 var div = document.getElementById("user_Info");
		     div.style.border = "3px solid #f60";
 	}
 	
 	//选择新增地址
 	function myradio(){
 	   var address = $("input[id='radioaddress']:checked").val();
 	   if(address == '0'){
 	   	  $("#add_address").show();
 	   }else{
	      $("#add_address").hide();
	   }
 	}
 	//点击保存新地址
 	function saveAddress(){
 		//1:隐藏新增框
 		$("#add_address").hide();
 		$("#user_update").hide();
 		$("#user_basic").show();
 		
 		//2:去掉边框颜色
		var div = document.getElementById("user_Info");
		    div.style.border = "";
		//3:保存方法	
		var form = $("#mall_form");	
		jQuery.post('#springUrl('')/orderinfo/updateAdress',
                    form.serialize(),
                    function(data) {
    					if(data!=null && data.code==200){
    					  user_address();
    					}else{
						
    					}
					 
					 }
            );
 	}
	
	//加载当前用户地址数据
	function user_address(){
	var txt="";
	 var userId = $("#userId").val();
		jQuery.ajax({
    		type: "GET",
    		url: "#springUrl('')/orderinfo/address",
			data:{userId:userId},
    		dataType : 'json',
    		success: function(data){
    			if(data!=null && data.code==200 && data.result!=null){
				   var txtRadio='';
    				$.each(data.result,function(i,item){
						txt = item.name +"  "+ item.mobile +" "+ item.phone+"<p>"+"<br/>"+ item.provinceName + " "+ item.cityName +" "+ item.countyName +" "+item.address;
						txtRadio=  item.name +"  "+ item.mobile +" "+ item.phone+" "+ item.provinceName + " "+ item.cityName +" "+ item.countyName +" "+item.address;
						//全部地址  <input type="radio" name="address" id="radioaddress" value="1" onchange="myradio();" checked />张三
						if(item.isdefault == 1){
						$('#user_radio').append("<input checked type='radio' name='address' id='radioaddress' onchange='myradio();'/> "+txtRadio+"  <a href='javascript:void(0)' onclick='queryAddress("+item.id+")'><font color='blue'>编辑</font></a>   | <a href='javascript:void(0)'><font color='blue'>删除</font></a>  <p><br/> ");
						}else{
						$('#user_radio').append("<input type='radio' name='address' id='radioaddress' onchange='myradio();'/> "+txtRadio+"  <a href='javascript:void(0)' onclick='queryAddress("+item.id+")'><font color='blue'>编辑</font></a>   | <a href='javascript:void(0)'><font color='blue'>删除</font></a>  <p><br/> ");
						}
					});
					$("#user_text").html(txt);
					//新增radio
					$('#user_radio').append("<input type='radio' value='0' name='address' id='radioaddress' onchange='myradio();'/> 使用新地址");
    			} else {
    				//alert("获取省份信息失败");
    			}
    		},
    		error : function(data) {
    			alert("获取信息失败");
    		}
    	});
	}
 	
	//获取省信息
	function province(){
	$("#cityNo").empty();
	$("#countyNo").empty();
		jQuery.ajax({
    		type: "GET",
    		url:"#springUrl('')/area/queryProvince",
    		dataType : 'json',
    		success: function(data){
    			if(data!=null && data.code==200 && data.result!=null){
    				var r = data.result;
					if(r.length > 0){
						$.each(data.result,function(i,item){
						if($("#hd_province").val() == item.code){
						     $('#provinceNo').append("<option selected value='" + item.code+ "'>" + item.name + "</option>");
						  }else{
						  	 $('#provinceNo').append("<option value='" + item.code+ "'>" + item.name + "</option>");
						  }
						});
					}		
    			} else {
    				//alert("获取省份信息失败");
    			}
    		},
    		error : function(data) {
    			alert("获取省份信息失败");
    		}
    	}); 
	}
	//市
	function Oncity(provinceNo){
	$("#cityNo").empty();
	$("#countyNo").empty();
		jQuery.ajax({
    		type: "GET",
			data:{provinceNO:provinceNo},
    		url:"#springUrl('')/area/queryCityNo",
    		dataType : 'json',
    		success: function(data){
    			if(data!=null && data.code==200 && data.result!=null){
    				var r = data.result;
					if(r.length > 0){
					    $('#cityNo').append("<option value=''>请选择</option>");
						$.each(data.result,function(i,item){
						if($("#hd_province").val() == item.code){
						     $('#cityNo').append("<option selected value='" + item.code+ "'>" + item.name + "</option>");
						  }else{
						  	 $('#cityNo').append("<option value='" + item.code+ "'>" + item.name + "</option>");
						  }
						});
					}		
    			} else {
    				//alert("获取市份信息失败");
    			}
    		},
    		error : function(data) {
    			alert("获取市份信息失败");
    		}
    	}); 
	}
	//县
	//---获取县的列表
	function Oncounty(cityNo){
	$("#countyNo").empty();
		jQuery.ajax({
    		type: "GET",
			data:{cityNo:cityNo},
    		url: "#springUrl('')/area/queryCountyNo",
    		dataType : 'json',
    		success: function(data){
    			if(data!=null && data.code==200 && data.result!=null){
    				var r = data.result;
					if(r.length > 0){
					 $('#countyNo').append("<option value=''>请选择</option>");
						$.each(data.result,function(i,item){
						if($("#hd_county").val() == item.code){
                        	 $('#countyNo').append("<option selected value='" + item.code+ "'>" + item.name + "</option>");
						}else{
							  $('#countyNo').append("<option value='" + item.code+ "'>" + item.name + "</option>");
						}
						});
					}
    			} else {
    				//alert("获取县份信息失败");
    			}
    		},
    		error : function(data) {
    			alert("获取县份信息失败");
    		}
    	});
	}
	//-------
	function queryAddress(id){
		jQuery.ajax({
    		type: "GET",
    		url: "#springUrl('')/orderinfo/addr",
			data:{id:id},
    		dataType : 'json',
    		success: function(data){
    			if(data!=null && data.code==200 && data.result!=null){
				$("#mall_name").val(data.result.name);//收货人
				$("#mall_address").val(data.result.address);//详细地址
				$("#mobile").val(data.result.mobile);//移动电话
				$("#email").val(data.result.email);//邮箱
				$("#mall_id").val(data.result.id);//id
				//给省市县 select 赋值
				 $('#provinceNo').append("<option selected value='" + data.result.provinceNo + "'>" + data.result.provinceName + "</option>");
				 $('#cityNo').append("<option selected value='" + data.result.cityNo + "'>" + data.result.cityName + "</option>");
				 $('#countyNo').append("<option selected value='" + data.result.countyNo + "'>" + data.result.countyName + "</option>");
				 $("#add_address").show();
				} else {
    				//alert("获取单个地区失败");
    			}
    		},
    		error : function(data) {
    			alert("获取单个地区失败");
    		}
    	});
	}

	
 </script>
<!---------------------- 填写并核对订单信息  ----------------------> 
      <div class="container wid1200 clearfix">
         <div class="clearfix">
           <div class="step2 right"></div>
         </div> 
         <div class="clearfix">
           <h3 class="my_cat_con ml10">填写并核对订单信息</h3>
           <div class="order_infro">
            <div id="user_Info">
	             <dl id="user_basic">
	               <dt>收货人信息【<a href="javascript:void(0)" onclick="update();" class="reds">修改</a>】</dt>
	               <input type="hidden" value="${userId}" id="userId"/>
				   <dd><div id="user_text"></div><dd>
	             </dl>
	             
	             <dl id="user_update">
	             	<div>
	             	    <dt>收货人信息</dt>
                        <dd><div id="user_radio"></div></dd>
	             	</div>
	             	
	             	<br/>
	             	<div id="add_address">
                    <form id="mall_form">	
                    <table width="570">
                    	<tr>
                            <td width="102"  align="right">
                                <span>
                                <em><font color="#FF0000">*&nbsp;&nbsp;</font></em>收货人:
                                </span>
                            </td>
                            <td width="456">&nbsp;&nbsp;<input type="text" name="name" id="mall_name" style="width:300px;height:25px;"/>
								<input type="hidden" name="id" id="mall_id"/>
								<input type="hidden" name="isdefault" id="isdefault" value="1"/>
							</td>
                        </tr>
                          <tr><td><br/></td><td></td></tr>
                        <tr>
                            <td  align="right">
                                <span>
                                <em><font color="#FF0000">*&nbsp;&nbsp;</font></em>所在地区:
                                </span>
                            </td>
                            <td>&nbsp;&nbsp;
                                <select id="provinceNo" onchange="Oncity(this.value);" style="width:100px;height:30px"> <option value=""> -请选择- </option> </select>&nbsp;&nbsp;
                                <select id="cityNo" onchange="Oncounty(this.value);" style="width:100px;height:30px"> <option value=""> -请选择- </option> </select>&nbsp;&nbsp;
                                <select id="countyNo" style="width:100px;height:30px"> <option value=""> -请选择-  </option> </select>&nbsp;&nbsp;
                            </td>
                        </tr>
                           <tr><td><br/></td><td></td></tr>
                        <tr>
                            <td  align="right">
                                <span>
                                <em><font color="#FF0000">*&nbsp;&nbsp;</font></em>详细地址:
                                </span>
                            </td>
                             <td width="456">&nbsp;&nbsp;<input type="text" name="address" id="mall_address" style="width:300px;height:25px;"/></td>
                        </tr>
                          <tr><td><br/></td><td></td></tr>
                        <tr>
                            <td  align="right">
                                <span>
                                <em><font color="#FF0000">*&nbsp;&nbsp;</font></em>手机号码:
                                </span>
                            </td>
                             <td width="456">&nbsp;&nbsp;<input type="text" name="mobile" id="mall_mobile" style="width:300px;height:25px;"/></td>
                        </tr>
                          <tr><td><br/></td><td></td></tr>
                        <tr>
                            <td  align="right">
                                <span>
                                <em><font color="#FF0000">*&nbsp;&nbsp;</font></em>邮箱:
                                </span>
                            </td>
                             <td width="456">&nbsp;&nbsp;<input type="text" name="email" id="mall_email" style="width:300px;height:25px;"/></td>
                        </tr>
                        <tr><td><br/></td><td></td></tr>
                    </table>
					</form>
                 </div>
					<button type="button" class="button red" onclick="saveAddress();">保存收货人信息</button>
             </div>
             
             <div id="pay_Info">
	             <dl>
	               <dt>支付及配送方式【<a href="javascript:void(0)" class="reds">修改</a>】</dt>
	               <dd>在线支付</dd>
	               <dd>圆通快递  中小件商品 <span class="reds">预计 11月25日送达</span></dd>
	             </dl>
	         </div>    
             
             <div id="invoice_info">
	             <dl>
	               <dt>发票信息【<a href="" class="reds">修改</a>】</dt>
	               <dd>普通发票（电子）<span class="pl15">个人</span><span class="pl15">明细</span></dd>
	             </dl>
             </div>
             
             <dl>
               <dt>商品清单</dt>
             </dl>
           </div>
           <table width="100%" border="0" class="cat_tab" cellspacing="0" cellpadding="0">
           <thead>
              <tr>
                <th class="tcenter" width="75"><input type="checkbox" /></th>
                <th width="193">全选</th>
                <th width="247">商品</th>
                <th width="200">价格</th>
                <th class="tcenter">数量</th>
                <th class="tcenter" width="129">操作</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="tcenter"><input type="checkbox" /></td>
                <td><img class="my_cat_img" src="../images/m-img2.jpg" /></td>
                <td><p>荷兰原装进口诺优能</p><p>幼儿配方奶粉900克</p></td>
                <td>¥306</td>
                <td class="tcenter"><div class="buynum"><a href="" class="reduce ml20">-</a><input type="text" /><a href="" class="reduce">+</a></div></td>
                <td class="tcenter"><a href="" class="del">删除</a><a href="" class="modify">修改</a></td>
              </tr>
              <tr>
                <td class="tcenter"><input type="checkbox" /></td>
                <td><img class="my_cat_img" src="../images/m-img2.jpg" /></td>
                <td><p>荷兰原装进口诺优能</p><p>幼儿配方奶粉900克</p></td>
                <td>¥306</td>
                <td class="tcenter"><div class="buynum"><a href="" class="reduce ml20">-</a><input type="text" /><a href="" class="reduce">+</a></div></td>
                <td class="tcenter"><a href="" class="del">删除</a><a href="" class="modify">修改</a></td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td class="white tcenter"><input type="checkbox" /></td>
                <td class="white">全选</td>
                <td class="white" colspan="4"><div class="right total">共计：<span class="reds">2</span>件商品</div></td>
                </tr>
            </tfoot>
</table>
           <div class="settlement">
             <div class="right"><a href="submit_order.html" class="right">去结算<i></i></a>费用：<span class="reds">712元</span></div>
           </div>
         </div> 
       
       
      </div>  
    
    
 <!---------------------- 正文end ----------------------> 
