<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/util 
            http://www.springframework.org/schema/util/spring-util-3.0.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
	default-autowire="byName">

	<util:map id="_urlBuilderMap">
		<entry key="homeModule">
			<bean class="com.hbird.common.web.url.UrlBuilder">
				<constructor-arg value="http://${my.web.domain}/" />
			</bean>
		</entry>
		<entry key="loginUrl">
			<bean class="com.hbird.common.web.url.UrlBuilder">
				<constructor-arg value="http://${my.web.domain}/user/login" />
			</bean>
		</entry>
	</util:map>

	<bean id="urlBuilders" class="com.hbird.common.web.url.UrlBuilders">
		<constructor-arg ref="_urlBuilderMap" />
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.awe.mall.web.interceptor.LoginCookieInterceptor">
				<property name="excludePaths" value="${exclude.path}" />
			</bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.awe.mall.web.interceptor.LoginRequiredInterceptor">
				<property name="urlBuilders" ref="urlBuilders" />
				<property name="excludePaths" value="${exclude.path}" />
				<property name="freedomPaths" value="${freedom.path}" />
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>

</beans>