<!DOCTYPE html>
<html lang="zh-cn">
    <head>
		#parse("/layout/head.vm")
        <script language="javascript">
            $(function() {
				$('#addForm').validate({
					errorElement:"em",
					errorClass:"red",
					rules: {
												userUsername: {required: true},
						userPassword: {required: true},
						userEmail: {required: true},
						userName: {required: true},
						userMobile: {required: true},
						userValidated: {required: true},
						userLogin: {required: true},
						userLastloginip: {required: true},
						userLastlogintime: {required: true},
						createName: {required: true},
						updateName: {required: true},
					},
			
					messages: {
						userUsername: { required: "请输入用户名"},
						userPassword: { required: "请输入密码"},
						userEmail: { required: "请输入邮箱"},
						userName: { required: "请输入姓名"},
						userMobile: { required: "请输入移动电话"},
						userValidated: { required: "请输入用户是否验证邮箱"},
						userLogin: { required: "请输入登录次数"},
						userLastloginip: { required: "请输入用户上次登录IP"},
						userLastlogintime: { required: "请输入用户上次登录时间"},
						createName: { required: "请输入创建人"},
						updateName: { required: "请输入修改人"},
					}
				});
				
				$("#btn-back").click(function(){
					window.location.href=("$basePath/userCommonly");
				});
				$("#btn-submit").click(function(){
            		var form = $("#addForm");
					if(form.valid()==false){
						return;
					}
					jQuery.post('$basePath/userCommonly/add',
            			form.serialize(),
            			function(data) { MyPopWindow.SubmitCompletedCallback2(data, "$basePath/userCommonly"); }
            		);
            	});
            });
        </script>
    </head>
	<body>
		<div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-plus green"></i>用户-常用信息&nbsp;&gt;&nbsp;新增
                        </h5>
                        <div class="widget-toolbar"></div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #fff;padding:5px;">
                            <form class="form-horizontal" role="form" id="addForm">
                                <div class="form-group">
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userUsername">用户名</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userUsername" id="userUsername" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userPassword">密码</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userPassword" id="userPassword" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userEmail">邮箱</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userEmail" id="userEmail" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userName">姓名</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userName" id="userName" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userMobile">移动电话</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userMobile" id="userMobile" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userValidated">用户是否验证邮箱</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userValidated" id="userValidated" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userLogin">登录次数</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userLogin" id="userLogin" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userLastloginip">用户上次登录IP</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userLastloginip" id="userLastloginip" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userLastlogintime">用户上次登录时间</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userLastlogintime" id="userLastlogintime" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="createName">创建人</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="createName" id="createName" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="updateName">修改人</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="updateName" id="updateName" class="col-xs-12 col-sm-12" />
                                    </div>
                                </div>
								<div class="form-group">
									<div class="col-sm-8 col-sm-offset-4">
                                        <button class="btn btn-info btn-sm" type="button" id="btn-back"><i class="icon-arrow-left"></i>返回</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>重置</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-submit"><i class="icon-ok"></i>提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
	</body>
</html>
