<!---------------------- 正文 ----------------------> 
<div class="container wid1200 clearfix">
	#parse("/myorder/common/left.vm")
	<!---------------------- 右则内容 ----------------------> 
  	<div class="section right">
       
         <h2 class="my_order"><span class="my_order_icon"></span>基础资料</h2>
         
         <div class="basic mt30 ml15 relative">
           <div class="person-img"><img src="#springUrl('')/static/images/tt.jpg" /><p><a href="">修改头像</a></p></div>
           <dl class="clearfix">
             <dt>昵称:</dt>
             <dd><input type="text" class="basic_input" /></dd>
           </dl> 
           <dl class="clearfix">
             <dt>性别:</dt>
             <dd><input type="radio"  /> 男 &nbsp;&nbsp;&nbsp;<input type="radio"  /> 女</dd>
           </dl> 
           <dl class="clearfix">
             <dt>出生日期:</dt>
             <dd><select class="data_select"><option>1999</option></select>年 &nbsp;&nbsp;<select class="data_select"><option>11</option></select>月 &nbsp;&nbsp;<select class="data_select"><option>12</option></select>日</dd>
           </dl> 
           <dl class="clearfix">
             <dt>真实姓名:</dt>
             <dd><input type="text" class="basic_input" /></dd>
           </dl> 
           <dl class="clearfix">
             <dt>所在地:</dt>
             <dd>省：<select class="basic_select"><option>辽宁</option></select>市：<select class="basic_select"><option>北京</option></select>区：<select class="basic_select"><option>朝阳区</option></select></dd>
           </dl> 
           <dl class="clearfix">
             <dt>详细地址:</dt>
             <dd><input type="text" class="basic_area" /></dd>
           </dl> 
        
         </div>
         <div class="basic_btn"><a href="" class="mt40">提交</a></div>
         
         
      
	</div>
   <!---------------------- 右则内容end ----------------------> 
</div>
<!---------------------- 正文end ----------------------> 