<!---------------------- 正文 ----------------------> 
    <div class="container wid1200 clearfix">
  
   <!---------------------- 左则菜单列表 ----------------------> 
    
      <div class="article left">
        <div class="peo_infor">
          <dl class="clearfix">
             <dt><img src="#springUrl('')/static/images/m-img1.jpg" /></dt>
             <dd>
               <h3><a href="">LEA.wang</a></h3>
               <p>等级：<i class="class_num">25</i></p>
               <p>积分：352566</p>
               <p class="mes_num"><i class="mes"></i><a href="" class="mes_num">消息 (16)</a></p>
             </dd>
          </dl>
          <div class="adress clearfix">
             <strong class="left normal">默认地址：</strong><span class="left">中国北京海淀区中关村大街6号新中关购物中心</span>
          </div>
          <div class="edit_profile ft14"><a href="#springUrl('')/profile/edit">编辑个人资料</a></div>
        </div>
        <div class="art_left_con">
            <h3><i class="arti_icon"></i>我购买的</h3>
            <ul class="article_list">
               <li><a href="my_order.html" >商品订单</a></li>
               <li><a href="my_order.html">服务订单</a></li>
            </ul>
            <h3><i class="arti_icon"></i>我关注的</h3>
            <ul class="article_list">
               <li><a href="questions.html">咨询问题</a></li>
               <li><a href="relevant_experts.html">相关专家</a></li>
            </ul>
            <h3><i class="arti_icon"></i>我发布的</h3>
            <ul class="article_list">
               <li><a href="my_diary.html">我的日记</a></li>
               <li><a href="my_discussion.html">我的讨论</a></li>
               <li><a href="my_baby.html">我的宝宝</a></li>
            </ul>
            <h3><i class="arti_icon"></i>我的资料</h3>
            <ul class="article_list">
               <li><a href="#springUrl('')/profile/myprofile" class="on">基础资料</a></li>
               <li><a href="#springUrl('')/address/list">收货地址</a></li>
            </ul>
            <h3><i class="arti_icon"></i>我的安全</h3>
            <ul class="article_list">
               <li><a href="login_password.html">登录密码</a></li>
               <li><a href="pay.html">支付密码</a></li>
            </ul>
            <h3><i class="arti_icon"></i>我的消息</h3>
            <ul class="article_list">
               <li><a href="system_message.html">系统公告</a></li>
            </ul>
        </div>
      </div>
      
   <!---------------------- 左则菜单列表 end ----------------------> 
   
   
   <!---------------------- 右则内容 ----------------------> 
      <div class="section right">
       
         <h2 class="my_order"><span class="my_order_icon"></span>基础资料</h2>
         
         <div class="basic mt30 ml15 relative">
           <div class="person-img"><img src="#springUrl('')/static/images/tt.jpg" /><p><a href="">修改头像</a></p></div>
           <dl class="clearfix">
             <dt>昵称:</dt>
             <dd><input type="text" class="basic_input" /></dd>
           </dl> 
           <dl class="clearfix">
             <dt>性别:</dt>
             <dd><input type="radio"  /> 男 &nbsp;&nbsp;&nbsp;<input type="radio"  /> 女</dd>
           </dl> 
           <dl class="clearfix">
             <dt>出生日期:</dt>
             <dd><select class="data_select"><option>1999</option></select>年 &nbsp;&nbsp;<select class="data_select"><option>11</option></select>月 &nbsp;&nbsp;<select class="data_select"><option>12</option></select>日</dd>
           </dl> 
           <dl class="clearfix">
             <dt>真实姓名:</dt>
             <dd><input type="text" class="basic_input" /></dd>
           </dl> 
           <dl class="clearfix">
             <dt>所在地:</dt>
             <dd>省：<select class="basic_select"><option>辽宁</option></select>市：<select class="basic_select"><option>北京</option></select>区：<select class="basic_select"><option>朝阳区</option></select></dd>
           </dl> 
           <dl class="clearfix">
             <dt>详细地址:</dt>
             <dd><input type="text" class="basic_area" /></dd>
           </dl> 
        
         </div>
         <div class="basic_btn"><a href="" class="mt40">提交</a></div>
         
         
      
      </div>
      
   <!---------------------- 右则内容end ----------------------> 
    </div>
 <!---------------------- 正文end ----------------------> 