<!---------------------- 正文 ----------------------> 
<div class="container wid1200 clearfix">
	#parse("/myorder/common/left.vm")
   <!---------------------- 右则内容 ----------------------> 
      <div class="section right">
       
         <h2 class="my_order"><span class="my_order_icon"></span>修改支付密码</h2>
         
         <div class="basic mt30 ml15 relative">
          
           <dl class="clearfix">
             <dt> 手机号:</dt>
             <dd><input type="text" class="basic_input" /></dd>
           </dl> 
           <dl class="clearfix">
             <dt>短信验证码:</dt>
             <dd><input type="text" class="basic_input left" /><button class="code left">获取验证码</button></dd>
           </dl> 
           <dl class="clearfix">
             <dt>新支付密码:</dt>
             <dd><input type="text" class="basic_input log_password" /></dd>
           </dl> 
           <dl class="clearfix">
             <dt>重复支付密码:</dt>
             <dd><input type="text" class="basic_input log_password" /></dd>
           </dl> 
           <dl class="clearfix">
             <dt> 验证码:</dt>
             <dd><input type="text" class="basic_input left" /><img src="#springUrl('')/static/images/lp_img.jpg" class="left lp_img" /><a href="" class="reds">看不清，换一张</a></dd>
           </dl> 

        
         </div>
         <div class="basic_btn"><a href="" class="mt20">保存</a></div>
         
      
      </div>
      
   <!---------------------- 右则内容end ----------------------> 
    </div>
 <!---------------------- 正文end ----------------------> 