<!---------------------- 正文 ----------------------> 
<div class="container wid1200 clearfix">
	#parse("/myorder/common/left.vm")
   <!---------------------- 右则内容 ----------------------> 
      <div class="section right">
       
         <h2 class="my_order"><span class="my_order_icon"></span>我的订单</h2>
         <ul class="my_order_list">
            <li>待付款（<span>0</span>）</li>
            <li>待确认收货（<span>2</span>）</li>
         </ul>
         <div class="my_order_form clearfix">
            <form>
               <input type="text" class="order_input" value="商品名称、商品编号、订单编号" />
               <input type="button"  class="order_btn" value="查询"/>
            </form>
         </div>
         <div class="order_tab clearfix mt25">
         
           <table width="100%" border="0"  cellspacing="0" cellpadding="0">
           <thead>
  <tr>
    <th class="title th">订单信息 </th>
    <th class="title">收货人</th>
    <th class="title">订单金额</th>
    <th class="title"><select name="" class="order_select"><option>最近三个月</option></select></th>
    <th class="title"><select name="" class="order_select"><option>全部状态</option></select></th>
    <th class="title tcenter">操作</th>
  </tr>
  </thead>
  <tbody>
           <table width="100%" border="0" class="mt10" cellspacing="0" cellpadding="0">
				#foreach( $item in $dataList)
				  <th colspan="6" class="th">订单编号：$!item.orderNo</th>
                  <tr>
					<td width="260" class="tcenter">#foreach( $subItem in $item.ordersItemsList)<img src="#springUrl('')/static/images/m-img2.jpg" alt="$subItem.skuName"/>#end</td>
                    <td width="130">$!item.consigneeName</td>
                    <td width="123"><p>¥$!item.amountPay</p><p>$!PayTypeMap.get("$!item.payType") </p></td>
                    <td width="172"><p>$!item.createTimeDay</p><p>$!item.createTimeTime</p></td>
                    <td width="165">$!OrderStautsMap.get("$!item.orderStatus")</td>
                    <td class="tcenter"><a href="">查看</a><br /><a href="">取消订单</a></td>
                  </tr>
				#end
			</table>
			#pageBarPost($page.totalRow $page.curPage $page.totalPage)
  </tbody>
         </div>
      
      </div>
      
   <!---------------------- 右则内容end ----------------------> 
    </div>
 <!---------------------- 正文end ----------------------> 