<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>母婴商城</title>
<link href="../css/common.css" rel="stylesheet"  type="text/css"/>
<link href="../css/login.css" rel="stylesheet"  type="text/css"/>

</head>

<body>
  
 <!---------------------- 公共头部 ----------------------> 
  <div class="header">
    <div class="top">
      <div class="wid1200">
         <div class="top_login left">
           <p>您好，欢迎来到Awesome</p>
           <ul>
             <li><a href="../login.html" class="logbtn">登录</a></li>
             <li><a href="../register.html" class="regbtn">注册</a></li>
           </ul>
         </div>
         <div class="right">
           <ul class="top_list">
             <li><i class="top_icon1"></i><a href="../member/my_order.html">我的订单</a></li>
             <li><i class="top_icon2"></i><a href="../member/my_list.html">会员中心</a></li>
             <li class="red"><i class="top_icon3"></i>400-960-999</li>
           </ul>
         </div>
      </div>
    </div>
    
    <div class="header-con">
      <div class="wid1200"><img src="../images/m-banner.jpg" /></div>
    </div>
    
    <div class="wid1200">
        <div class="logo"><img src="../images/logo.jpg" /></div>
        <div class="search">
          <form id="" name="" class="search_form">
            <input type="text" class="search_input" />
            <button class="search_btn"></button>
          </form>
          <span class="shop_cat"><i></i>购物车</span>
        </div>
        <div class="nav clearfix">
          <ul>
            <li><a href="../index.html">首页</a></li>
            <li class="on"><a href="../shopping/shopping.html">商品主页</a></li>
            <li><a href="">奶粉</a></li>
            <li><a href="">纸尿裤</a></li>
            <li><a href="">玩具</a></li>
            <li><a href="">服装</a></li>
          </ul>
        </div>
    </div>
  </div>
  
 <!---------------------- 公共头部 end ----------------------> 
 
 <!---------------------- 填写并核对订单信息  ----------------------> 
    
      <div class="container wid1200 clearfix">
         <div class="clearfix">
           <div class="step2 right"></div>
         </div> 
         <div class="clearfix">
           <h3 class="my_cat_con ml10">填写并核对订单信息</h3>
           <div class="order_infro">
             <dl>
               <dt>收货人信息【<a href="" class="reds">修改</a>】</dt>
               <dd>杨桃   18610000005</dd>
               <dd>北京市 朝阳区 三环到四环之间 建国路100号天地中心B座10层</dd>
             </dl>
             <dl>
               <dt>支付及配送方式【<a href="" class="reds">修改</a>】</dt>
               <dd>在线支付</dd>
               <dd>圆通快递  中小件商品 <span class="reds">预计 11月25日送达</span></dd>
             </dl>
             <dl>
               <dt>发票信息【<a href="" class="reds">修改</a>】</dt>
               <dd>普通发票（电子）<span class="pl15">个人</span><span class="pl15">明细</span></dd>
             </dl>
             <dl>
               <dt>商品清单</dt>
             </dl>
           </div>
           <table width="100%" border="0" class="cat_tab" cellspacing="0" cellpadding="0">
           <thead>
              <tr>
                <th class="tcenter" width="75"><input type="checkbox" /></th>
                <th width="193">全选</th>
                <th width="247">商品</th>
                <th width="200">价格</th>
                <th class="tcenter">数量</th>
                <th class="tcenter" width="129">操作</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="tcenter"><input type="checkbox" /></td>
                <td><img class="my_cat_img" src="../images/m-img2.jpg" /></td>
                <td><p>荷兰原装进口诺优能</p><p>幼儿配方奶粉900克</p></td>
                <td>¥306</td>
                <td class="tcenter"><div class="buynum"><a href="" class="reduce ml20">-</a><input type="text" /><a href="" class="reduce">+</a></div></td>
                <td class="tcenter"><a href="" class="del">删除</a><a href="" class="modify">修改</a></td>
              </tr>
              <tr>
                <td class="tcenter"><input type="checkbox" /></td>
                <td><img class="my_cat_img" src="../images/m-img2.jpg" /></td>
                <td><p>荷兰原装进口诺优能</p><p>幼儿配方奶粉900克</p></td>
                <td>¥306</td>
                <td class="tcenter"><div class="buynum"><a href="" class="reduce ml20">-</a><input type="text" /><a href="" class="reduce">+</a></div></td>
                <td class="tcenter"><a href="" class="del">删除</a><a href="" class="modify">修改</a></td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td class="white tcenter"><input type="checkbox" /></td>
                <td class="white">全选</td>
                <td class="white" colspan="4"><div class="right total">共计：<span class="reds">2</span>件商品</div></td>
                </tr>
            </tfoot>
</table>
           <div class="settlement">
             <div class="right"><a href="submit_order.html" class="right">去结算<i></i></a>费用：<span class="reds">712元</span></div>
           </div>
         </div> 
       
       
      </div>  
    
    
    
    
    
 <!---------------------- 正文end ----------------------> 
 
 <!---------------------- 公共尾部 ----------------------> 
    <div class="footer wid1200">
     
      <div class="footer_logo left"><img src="../images/f-logo.jpg" /></div>
      <div class="footer_con">
         <p>版权所有（集团）股份有限公司 未经允许不得复杂、转载或编辑，违者必究.</p>
         <p>Copyright(GROUP)COMPANY OF CHINA 、LTD ,All Rights Reserved</p>
         <p>ICP许可证号 粤ICP 备06118999号-5</p>
      </div>
      
    </div>
 <!---------------------- 公共尾部end ----------------------> 

<script src="../js/MagicZoom.js" type="text/javascript"></script>
<script src="../js/ShopShow.js"></script>
</body>
</html>
