#set($imgUrl="http://test.picture.shop.hbird.com/")
<link href="#springUrl('')/static/css/common.css" rel="stylesheet"  type="text/css"/>
<link href="#springUrl('')/static/css/login.css" rel="stylesheet"  type="text/css"/>
<script type="text/javascript" src="#springUrl('')/static/js/jquery-1.8.3.min.js"></script>
<script>
$(function(){
	$("#quantity").keyup(function(){
		if(isNaN($(this).val()) || parseInt($(this).val())<1){
			$(this).val("1");
			$("#totalPrice").html($("#price").val());
			return;
		}
		var total = parseFloat($("#price").val())*parseInt($(this).val());
		$("#totalPrice").html(total.toFixed(2));
	})
	
	// 尺寸选择
	$('.size span').bind('click',function(){
		window.location.href = "#springUrl('')/shopping/product_details?id=$!{product.id}&currentSkuNo=" + $(this).attr("id");
	  	//$(this).attr('class','on').siblings().removeAttr('class','on');
	});
	
	// 商品信息切换
	$('.indtr li').bind('click',function(){
	  	$(this).attr('class','on').siblings().removeAttr('class','on');
		$('.rank_content > div').hide();
		$('.rank_content > div[id=' + $(this).attr("name") + ']').show();
	});
})

/*商品数量+1*/
function numAdd(){
	var num_add = parseInt($("#quantity").val())+1;
	if($("#quantity").val()==""){
		num_add = 1;
	}
	$("#quantity").val(num_add);
	var total = parseFloat($("#price").val())*parseInt($("#quantity").val());
	$("#totalPrice").html(total.toFixed(2));
}

/*商品数量-1*/
function numDec(){
	var num_dec = parseInt($("#quantity").val())-1;
	if(num_dec<1){
		//购买数量必须大于或等于1
		//alert("not lt 1");
	}else{
		$("#quantity").val(num_dec);
		var total = parseFloat($("#price").val())*parseInt($("#quantity").val());
		$("#totalPrice").html(total.toFixed(2));
	}
}
/**
 * 添加购物车
 */
 function addShoppingCart(){
 	var skuCount = $("#quantity").val();
	var skuNo = '$!{currentProductSku.skuNo}';
	alert(skuCount);alert(skuNo);
 	window.location.href = "#springUrl('')/cart/addCart?skuNo=" + skuNo + "&skuCount=" + skuCount;
 }
</script>
 
 <!---------------------- 商品介绍          规格参数          包装清单           售后保障        ----------------------> 
    <div class="container wid1200 clearfix">
       <div class="product_l">
            <div id="tsShopContainer">
                <div id="tsImgS"><a href="$!{imgUrl}$!{primarySkuImage.imgPath}" title="Images" class="MagicZoom" id="MagicZoom"><img width="352" height="351" src="$!{imgUrl}$!{primarySkuImage.imgPath}" /></a></div>
                <div id="tsPicContainer">
                    <div id="tsImgSArrL" onclick="tsScrollArrLeft()"></div>
                    <div id="tsImgSCon">
                        <ul>
							#foreach($skuImage in $!{skuImageList})						
                            <li onclick="showPic($velocityCount - 1)" rel="MagicZoom" #if($velocityCount == 1) class="tsSelectImg" #end><img  src="$!{imgUrl}$!{skuImage.imgPath}" tsImgS="$!{imgUrl}$!{skuImage.imgPath}" /></li>
							#end
                        </ul>
                    </div>
                    <div id="tsImgSArrR" onclick="tsScrollArrRight()"></div>
                </div>
				
				#*
				<div id="tsImgS"><a href="#springUrl('')/static/images/01.jpg" title="Images" class="MagicZoom" id="MagicZoom"><img width="352" height="351" src="#springUrl('')/static/images/01.jpg" /></a></div>
                <div id="tsPicContainer">
                    <div id="tsImgSArrL" onclick="tsScrollArrLeft()"></div>
                    <div id="tsImgSCon">
                        <ul>
                            <li onclick="showPic(0)" rel="MagicZoom" class="tsSelectImg"><img  src="#springUrl('')/static/images/01.jpg" tsImgS="#springUrl('')/static/images/01.jpg" /></li>
                            <li onclick="showPic(1)" rel="MagicZoom"><img  src="#springUrl('')/static/images/02.jpg" tsImgS="#springUrl('')/static/images/02.jpg" /></li>
                            <li onclick="showPic(2)" rel="MagicZoom"><img  src="#springUrl('')/static/images/03.jpg" tsImgS="#springUrl('')/static/images/03.jpg" /></li>
                            <li onclick="showPic(3)" rel="MagicZoom"><img  src="#springUrl('')/static/images/04.jpg" tsImgS="#springUrl('')/static/images/04.jpg" /></li>
                            <li onclick="showPic(4)" rel="MagicZoom"><img  src="#springUrl('')/static/images/05.jpg" tsImgS="#springUrl('')/static/images/05.jpg" /></li>
                            <li onclick="showPic(5)" rel="MagicZoom"><img  src="#springUrl('')/static/images/06.jpg" tsImgS="#springUrl('')/static/images/06.jpg" /></li>
                            <li onclick="showPic(6)" rel="MagicZoom"><img  src="#springUrl('')/static/images/07.jpg" tsImgS="#springUrl('')/static/images/07.jpg" /></li>
                            <li onclick="showPic(7)" rel="MagicZoom"><img  src="#springUrl('')/static/images/08.jpg" tsImgS="#springUrl('')/static/images/08.jpg" /></li>
                            <li onclick="showPic(8)" rel="MagicZoom"><img  src="#springUrl('')/static/images/09.jpg" tsImgS="#springUrl('')/static/images/09.jpg" /></li>
                            <li onclick="showPic(9)" rel="MagicZoom"><img  src="#springUrl('')/static/images/10.gif" tsImgS="#springUrl('')/static/images/10.gif" /></li>
                            <li onclick="showPic(10)" rel="MagicZoom"><img  src="#springUrl('')/static/images/11.gif" tsImgS="#springUrl('')/static/images/10.gif" /></li>
                        </ul>
                    </div>
                    <div id="tsImgSArrR" onclick="tsScrollArrRight()"></div>
                </div>
				*#
				
            </div>   
            
            <div class="product_con">
              <h3>$!{product.productName}</h3>
              <ul>
                <li>品牌价：<span class="reds ft18">￥$!{currentProductSku.salePrice}元</span></li>
                <li>运费：$!{product.freight}</li>
                <li class="size">尺码规格：
					#foreach($productSku in $!{product.productSkuResponseDtos})						
					<span id="$!{productSku.skuNo}" #if("$!{productSku.size}" == "$!{currentProductSku.size}") class="on" #end>$!{productSku.size}</span>
					#end
				</li>
                <li class="buynum">购买数量：<a href="javascript:" onclick="numDec()" class="reduce ml20">-</a><input type="text" value="1" id="quantity" /><a href="javascript:"  onclick="numAdd()" class="reduce">+</a></li>
                <!--商品添加购物车-->
				<li><a class="cat_btn mt15" href="javascript:" onclick="javascript:addShoppingCart();">加入购物车</a></li>
              </ul>
            </div>
                
       </div>
       <div class="product_r right">
        <div class="hots_consult pdr ">
         <h3>咨询社区</h3>
			<div class="star_expert_con tcm">
				<dl class="clearfix">
                    <span class="center"><font color="blue">&nbsp;&nbsp;即将开通，敬请期待...</font></span>
                </dl>
            </div>
		 #*
         <div class="star_expert_con tcm">
           <dl class="clearfix">
             <dt><a href="#springUrl('')/static/expert/C-07.html"><img src="#springUrl('')/static/images/m_img1.jpg" /></a></dt>
             <dd>
               <p>专家：<a href="#springUrl('')/static/expert/C-07.html">王翔</a></p>
               <p><span class="right">母婴养育 营养搭配</span>特长：</p>
             </dd>
           </dl>             
         </div>
         <h4>咨询社区</h4>
         <div class="pdr_box clearfix">
             <span><a href="#springUrl('')/static/expert/C-08.html"><img src="#springUrl('')/static/images/m_img1.jpg" /></a></span>
         </div>   
         <div class="edit_profile ft14 clearfix"><a href="">进入卖家店铺</a></div>
		 *#
       </div>
       </div>  
   
        <!---------------------- 明星专家 广告部分 ----------------------> 
     </div>
        
    <div class="container wid1200 clearfix">
        <div class="rank_title mt10">
            <ul class="indtr">
              <li name="shop_introduce" class="on">商品介绍</li>
              <li name="param">规格参数</li>
              <li name="packing_list">包装清单</li>
              <li name="sale_guarantee">售后保障</li>
            </ul>
        </div>
		
        <div class="rank_content">
            <div id="shop_introduce" class="shop_introduce clearfix">
                 <!---------------------- 商品介绍 ----------------------> 
                <div class="shop_details ml15">
                   <ul class="t1">
                     <li>商品名称：$!{product.productName}</li>
                     <li>商品毛重：$!{product.grossWeight}kg</li>
                     <li>类型：
						#foreach($item in $!{pmsTypes})
        					#if("$!item.attr" == "$!product.type")
								$!item.value
    						#end
						#end
					</li>
                   </ul>
                   <ul class="t2">
                     <li>商品编号：$!{product.productNo}</li>
                     <li>商品产地：$!{product.originPlace}</li>
                     <li>分类：$!{product.categoryTwo}</li>
                   </ul>
                   <ul class="t3">
                     <li>品牌：$!{product.brandName}</li>
                     <li>适用年龄：$!{product.applicableAge}</li>
                     <li>包装：
						#foreach($item in $!{packTypes})
        					#if("$!item.attr" == "$!product.packType")
								$!item.value
    						#end
						#end
					</li>
                   </ul>
                   <ul class="t4">
                     <li>上架时间：$!dateTool.format('yyyy-MM-dd HH:mm:ss ',$!{product.saleTimeStart})</li>
                     <li>段位：$!{product.categoryThree}</li>
                   </ul>
                </div>
            </div>
    		
            <div id="param" class="param clearfix" style="display:none">
                 <!---------------------- 规格参数 ----------------------> 
                <div class="shop_details ml15">
                   <ul class="t1">
                     <li>适用人群：$!{product.applicableCrowd}</li>
                     <li>适用阶段：
						#foreach($item in $!{applicableStepTypes})
        					#if("$!item.attr" == "$!product.applicableStep")
								$!item.value
    						#end
						#end
					 </li>
                     <li>商品保质期：$!{currentProductSku.durabilityPeriod}</li>
                   </ul>
                </div>
            </div> 
    		
            <div id="packing_list" class="packing_list clearfix" style="display:none">
                 <!---------------------- 包装清单 ----------------------> 
                <div class="shop_details ml15">
                   <ul class="t1">
                     <li>$!{product.packingList}</li>
                   </ul>
                </div>
            </div>
    		
            <div id="sale_guarantee" class="sale_guarantee clearfix" style="display:none">
                 <!---------------------- 售后保障 ----------------------> 
                <div class="shop_details ml15">
                   <ul class="t1">
                     <li>$!{product.saleGuarantee}</li>
                   </ul>
                </div>
            </div> 
		</div>
    </div>
    
    <div class="container wid1200 clearfix">
      <div class="pro_con mt10">
		$!{product.features}
        <img src="#springUrl('')/static/images/pro_img.jpg" />
      </div>
    </div>
    
 <!---------------------- 正文end ----------------------> 
<script src="#springUrl('')/static/js/MagicZoom.js" type="text/javascript"></script>
<script src="#springUrl('')/static/js/ShopShow.js"></script>
