<script language="javascript">
    // 提交查询
    function pageSubmit(pageNoParam) {
        $("#curPage").val(pageNoParam);
        $("#queryForm").submit();
    }
    function brandSubmit(brandCode) {
        $("#brandCode").val(brandCode);
        pageSubmit(1);
    }
</script>
 
 <!---------------------- 正文 ----------------------> 
    <div class="container wid1200 clearfix">
        <!---------------------- 商品分类 ----------------------> 
        <div class="shopl">
             #parse("#springUrl('')/shopping/common/product_category.vm")
			 <!---------------------- 浏览奶粉最终购买 ----------------------> 
             <div class="powder mt10">
               <h3>浏览<b class="reds">$!{categoryTwo}</b>的用户最终购买</h3>
               <ul class="pdcon">
				 #foreach($productSelect in $!productHitCounts)
                     <li>
                         <div><a href="#springUrl('')/shopping/product_details?productNo=$!{productSelect.productNo}&currentSkuNo=$!{productSelect.skuNo}"><img src="$!{productSelect.imgPath}" width="90" height="90"/></a></div>
						 <p><span class="galy2 normal">9%会买：</span>$!{brandName}</p>
                         <p><a href="#springUrl('')/shopping/product_details?productNo=$!{productSelect.productNo}&currentSkuNo=$!{productSelect.skuNo}">$!{productSelect.productName}</a></p>
						 #*
                         <p class="reds"><s>¥$!{productSelect.price}元</s></p>
						 *#
                         <p class="galy2">¥$!{productSelect.salePrice}元</p>
                     </li>
				 #end
               </ul>
             </div>

            <!---------------------- 一周畅销排行 ----------------------> 
            <div class="powder mt10">
               <h3>一周畅销排行</h3>
               <ul class="bestseller">
				#foreach($productSelect in $!productSaleQuantityWeeks)
					<li><span class="reds">$velocityCount, </span><a href="#springUrl('')/shopping/product_details?productNo=$!{productSelect.productNo}&currentSkuNo=$!{productSelect.skuNo}">$productSelect.productName</a></li>
    			#end
               </ul>
             </div>
		</div>
        
        
        <div class="shopr right">
        
        <!---------------------- 专家推荐 ----------------------> 
		#*
           <div class="groom clearfix">
              <h3 class="ft14">专家推荐</h3>
              <div class="groom_box">
                <dl>
                  <dt><a href="#springUrl('')/shopping/product_details?id=1"><img src="#springUrl('')/static/images/m_img6.jpg" /></a></dt>
                  <dd>
                    <p><a href="#springUrl('')/shopping/product_details?id=1">雅培(Similac) 美国雅培</a></p>
                    <p class="galy2 bold">¥298.00</p>
                    <p><a href="#springUrl('')/shopping/product_details?id=1" class="message_btn mt15">立即抢购</a></p>
                  </dd>
                </dl>
                <dl>
                  <dt><a href="product_details.html"><img src="#springUrl('')/static/images/m_img6.jpg" /></a></dt>
                  <dd>
                    <p><a href="#springUrl('')/shopping/product_details?id=1">雅培(Similac) 美国雅培</a></p>
                    <p class="galy2 bold">¥298.00</p>
                    <p><a href="#springUrl('')/shopping/product_details?id=1" class="message_btn mt15">立即抢购</a></p>
                  </dd>
                </dl>
              </div>
           </div>
         *#

        <!---------------------- 奶粉品牌分类 ----------------------> 
           <div class="groom clearfix mt10 hg210">
              <h3 class="ft14">$!{categoryTwo}品牌分类</h3>
              <ul class="fication">
				#foreach($item in $!productBrands)
					<li><a href="javascript:void(0)" onclick="brandSubmit('$!{item.brandCode}')">$item.brandName</a></li>
    			#end
              </ul>
           </div>
           
        <!---------------------- 综合排序 ----------------------> 
           <div class="ranking">
			<form id="queryForm" method="POST" action="#springUrl('')/shopping/shopping_list">
				#parse("#springUrl('')/layout/page.vm")
				<input type="hidden" id="categoryTwoId" name="categoryTwoId" value="$!requestDto.categoryTwoId"/>
				<input type="hidden" id="brandCode" name="brandCode" value="$!requestDto.brandCode"/>
				<input type="hidden" id="orderDesc" name="orderDesc" value="$!requestDto.orderDesc"/>
              <div class="rank_title mt10">
                <ul class="rank_l left">
                  <li class="on">综合排序</li>
                  <li>销售</li>
                  <li>价格<i class="down_icon"></i></li>
                  <li>推荐数</li>
                </ul>
                <ul class="rank_r right">
                  <li>共$!{pageUtil.totalRow}个商品</li>
                  <li><span class="reds">$!{pageUtil.curPage}</span>/$!{pageUtil.totalPage}</li>
    				#if($!{pageUtil.curPage}>1)
						#set($prePage = $!{pageUtil.curPage} - 1)
                        <li onclick="pageSubmit($!prePage)"><a href="#">上一页</a></li>
                    #else
                        <li>上一页</li>
                    #end
                    #if($!{pageUtil.curPage}<$!{pageUtil.totalPage})
						#set($nextPage = $!{pageUtil.curPage} + 1)
                        <li><a href="#" onclick="pageSubmit($!{nextPage})">下一页</a></li>
                    #else
                        <li>下一页</li>
                    #end
                </ul>
              </div>
			  </form>
              <div class="bf rank_lb">
                  <div class="shop_lb clearfix">
                   <ul>
					 #foreach($productSelect in $!productSelects)
                         <li #if($velocityCount % 6 == 1) class="pl" #end>
                             <div><a href="#springUrl('')/shopping/product_details?productNo=$!{productSelect.productNo}&currentSkuNo=$!{productSelect.skuNo}"><img src="$!{productSelect.imgPath}" /></a></div>
                             <p><a href="#springUrl('')/shopping/product_details?productNo=$!{productSelect.productNo}&currentSkuNo=$!{productSelect.skuNo}">$!{productSelect.productName}</a></p>
                             <p>优质配方工艺</p>
							 #*
                             <p class="reds"><s>¥$!{productSelect.price}元</s></p>
							 *#
                             <p class="reds">¥$!{productSelect.salePrice}元</p>
                         </li>
					 #end
                   </ul>
                 </div>
              </div>   
            </div>
        </div> 
     </div>

    </div>
 <!---------------------- 正文end ----------------------> 