 <!---------------------- 正文 ----------------------> 
    <div class="container wid1200 clearfix">
    
        <!---------------------- 商品分类 ----------------------> 
         <div class="goods_list">
            <h1>商品分类</h1>
            <div class="goods_container">
                <div class="goods_con">
                   <h3><i class="goods_icon"><a href="#springUrl('')/shopping/shopping_list" class="reds">&gt;</a></i>品牌</h3>
                   <ul class="goods_tl pt5 clearfix">
					 #foreach($item in $!productBrands)
						<li><a href="#springUrl('')/shopping/shopping_list?brandCode=$!item.brandCode">$item.brandName</a></li>
					 #end
                   </ul>
                </div>
				#foreach($item in $!productCategorys)
					#if("$item.fid" == "0")
                    <div class="goods_con">
                       <h3><i class="goods_icon"><a href="#springUrl('')/shopping/shopping_list?categoryOneId=$item.id" class="reds">&gt;</a></i>$item.name</h3>
                       <ul class="goods_tl pt5 clearfix">
    					#foreach($item_child in $!productCategorys)
							#if("$item_child.fid" == "$item.id")
								<li><a href="#springUrl('')/shopping/shopping_list?categoryTwoId=$item_child.id">$item_child.name</a></li>
							#end
    					 #end
                       </ul>
                    </div>
					#end
				#end
            </div>
         
         </div>  
   
        <!---------------------- 明星专家 广告部分 ----------------------> 
        <div class="shop_banner left">
           <img src="#springUrl('')/static/images/m-img11.jpg" />
        </div>

        <div class="baby_right left">
        
        <!---------------------- 宝宝资料 ----------------------> 
            <div class="baby_data">
               <h3 class="ft14 normal"><i class="expert_icon1"></i>宝宝资料</h3>
               <div class="childbirth">生日／预产期<input type="text" /></div>
               <div class="sex clearfix">
                 <span class="sex_icon1 on"></span>
                 <span class="sex_icon2"></span>
               </div>
               <div class="choice_sex clearfix">您已选择宝宝性别为“<span>男生</span>”</div>
               <div class="clearfix"><a href="" class="expert_btn">确定</a></div>
            </div>
        <!---------------------- 妈妈知识课堂 ----------------------> 
            <div class="baby_data mt25">
               <h3 class="ft14 normal"><i class="expert_icon2"></i>妈妈知识课堂</h3>
               <ul class="knowledge clearfix">
                 <li><span>&gt;</span><a href="">准备怀孕期</a></li>
                 <li><span>&gt;</span><a href="">怀孕期</a></li>
                 <li><span>&gt;</span><a href="">0-1岁</a></li>
               </ul>
            </div>
        <!---------------------- 更多服务 ----------------------> 
            <div class="baby_data mt25">
               <h3 class="ft14 normal"><i class="expert_icon3"></i>更多服务</h3>
               <ul class="more_services clearfix">
                 <li><a href="">早教攻略</a></li>
                 <li><a href="">护理攻略</a></li>
                 <li><a href="">喂养攻略</a></li>
                 <li><a href="">新生礼盒</a></li>
                 <li><a href="">手足印</a></li>
                 <li><a href="">纸尿裤</a></li>
               </ul>
            </div>
        
        </div>
     </div>
        <!---------------------- 专家解惑 ----------------------> 
        <div class="container wid1200 clearfix">
           <div class="experts_box">
              <ul>
                <li>准备怀孕</li>
                <li class="on">怀孕期</li>
                <li>0-3个月</li>
                <li>3-6个月</li>
                <li>6-12个月</li>
                <li>1-2岁</li>
              </ul>
           </div>
           <div class="wid1200 clearfix mt10">


        <!---------------------- 日常饮品 ----------------------> 
             <div class="daily_drink">
                <div class="adily_title">
                  <h3><i class="dr_icon">1</i>日常饮品</h3>
                  <ul class="adily_box">
                    <li class="on">营养食谱</li>
                    <li>放心奶粉</li>
                    <li>入口装备</li>
                  </ul>
                </div>
                
                <div class="daily_scroll">
                   <div class="daily_box bf">
                     <div class="shop_lb clearfix">
                       <ul>
                         <li>
                             <div><a href="product_details.html"><img src="../images/m_img6.jpg" /></a></div>
                             <p><a href="product_details.html">雅培(Similac) 美国雅培精装奶粉</a></p>
                             <p>优质配方工艺</p>
                             <p class="reds">¥298.00</p>
                         </li>
                       </ul>
                     </div>
                   </div>
                </div>
             </div>                 
 
        <!---------------------- 热门攻略 ----------------------> 
        
             <div class="left hots_consult shop_r"> 
                 <h3>热门攻略</h3>
                 <div class="star_expert_con lct">
                   <dl class="clearfix">
                     <dt><a href="../expert/C-05.html"><img src="../images/m_img1.jpg" /></a><p><a href="../expert/C-05.html" class="message_btn mt10">咨询名师</a></p></dt>
                     <dd class="mt5">
                       <p><a href="../expert/C-05.html">保护包包的味蕾</a></p>
                       <p><a href="../expert/C-05.html">保护包包的味蕾</a></p>
                       <p><a href="../expert/C-05.html">保护包包的味蕾</a></p>
                       <p><a href="../expert/C-05.html">保护包包的味蕾</a></p>
                     </dd>
                   </dl>             
             </div>
               </div>
           </div>
           
           <div class="wid1200 clearfix mt10">


        <!---------------------- 娱乐玩耍 ----------------------> 
             <div class="daily_drink">
                <div class="adily_title">
                  <h3><i class="dr_icon">2</i>娱乐玩耍</h3>
                  <ul class="adily_box">
                    <li>助力学步</li>
                    <li class="on">智力开发</li>
                    <li>安全防护</li>
                  </ul>
                </div>
                
                <div class="daily_scroll">
                  
                   <div class="daily_box bf">
                     <div class="shop_lb clearfix">
                       <ul>
                         <li>
                             <div><a href="product_details.html"><img src="../images/m_img6.jpg" /></a></div>
                             <p><a href="product_details.html">雅培(Similac) 美国雅培精装奶粉</a></p>
                             <p>优质配方工艺</p>
                             <p class="reds">¥298.00</p>
                         </li>
    
                       </ul>
                     </div>
                   </div>
                   <div class="daily_box bf" style="display:none">
                     <div class="shop_lb clearfix">
                       <ul>
                         <li>
                             <div><a href="product_details.html"><img src="../images/m_img6.jpg" /></a></div>
                             <p><a href="product_details.html">雅培(Similac) 美国雅培精装奶粉</a></p>
                             <p>优质配方工艺</p>
                             <p class="reds">¥298.00</p>
                         </li>
                       </ul>
                     </div>
                   </div>
                   <div class="daily_box bf" style="display:none">
                     <div class="shop_lb clearfix">
                       <ul>
                         <li>
                             <div><a href="product_details.html"><img src="../images/m_img6.jpg" /></a></div>
                             <p><a href="product_details.html">雅培(Similac) 美国雅培精装奶粉</a></p>
                             <p>优质配方工艺</p>
                             <p class="reds">¥298.00</p>
                         </li>
                       </ul>
                     </div>
                   </div>
                </div>
             </div>                 
 
        <!---------------------- 热门攻略 ----------------------> 
        
             <div class="left hots_consult shop_r"> 
                 <h3>热门攻略</h3>
                 <div class="star_expert_con lct">
                   <dl class="clearfix">
                     <dt><a href="../expert/C-05.html"><img src="../images/m_img1.jpg" /></a><p><a href="../expert/C-05.html" class="message_btn mt10">咨询名师</a></p></dt>
                     <dd class="mt5">
                       <p><a href="../expert/C-05.html">保护包包的味蕾</a></p>
                       <p><a href="../expert/C-05.html">保护包包的味蕾</a></p>
                       <p><a href="../expert/C-05.html">保护包包的味蕾</a></p>
                       <p><a href="../expert/C-05.html">保护包包的味蕾</a></p>
                     </dd>
                   </dl>             
             </div>
               </div>
           </div>
           
           <div class="wid1200 clearfix mt10">


        <!---------------------- 娱乐玩耍 ----------------------> 
             <div class="daily_drink">
                <div class="adily_title">
                  <h3><i class="dr_icon">3</i>娱乐玩耍</h3>
                  <ul  class="adily_box">
                    <li>助力学步</li>
                    <li class="on">智力开发</li>
                    <li>安全防护</li>
                  </ul>
                </div>
                
                <div class="daily_scroll">
                  
                   <div class="daily_box bf">
                     <div class="shop_lb clearfix">
                       <ul>
                         <li>
                             <div><a href="product_details.html"><img src="../images/m_img6.jpg" /></a></div>
                             <p><a href="product_details.html">雅培(Similac) 美国雅培精装奶粉</a></p>
                             <p>优质配方工艺</p>
                             <p class="reds">¥298.00</p>
                         </li>
                       </ul>
                     </div>
                   </div>
                   <div class="daily_box bf" style="display:none">
                     <div class="shop_lb clearfix">
                       <ul>
                         <li>
                             <div><a href="product_details.html"><img src="../images/m_img6.jpg" /></a></div>
                             <p><a href="product_details.html">雅培(Similac) 美国雅培精装奶粉</a></p>
                             <p>优质配方工艺</p>
                             <p class="reds">¥298.00</p>
                         </li>
    
                       </ul>
                     </div>
                   </div>
                   <div class="daily_box bf" style="display:none">
                     <div class="shop_lb clearfix">
                       <ul>
                         <li>
                             <div><a href="product_details.html"><img src="../images/m_img6.jpg" /></a></div>
                             <p><a href="product_details.html">雅培(Similac) 美国雅培精装奶粉</a></p>
                             <p>优质配方工艺</p>
                             <p class="reds">¥298.00</p>
                         </li>
    
                       </ul>
                     </div>
                   </div>
                 
                </div>
             </div>                 
 
        <!---------------------- 热门攻略 ----------------------> 
        
             <div class="left hots_consult shop_r"> 
                 <h3>热门攻略</h3>
                 <div class="star_expert_con lct">
                   <dl class="clearfix">
                     <dt><a href="../expert/C-05.html"><img src="../images/m_img1.jpg" /></a><p><a href="../expert/C-05.html" class="message_btn mt10">咨询名师</a></p></dt>
                     <dd class="mt5">
                       <p><a href="../expert/C-05.html">保护包包的味蕾</a></p>
                       <p><a href="../expert/C-05.html">保护包包的味蕾</a></p>
                       <p><a href="../expert/C-05.html">保护包包的味蕾</a></p>
                       <p><a href="../expert/C-05.html">保护包包的味蕾</a></p>
                     </dd>
                   </dl>             
             </div>
               </div>
           </div>
        
        </div>
        


    </div>
 <!---------------------- 正文end ----------------------> 
