<!DOCTYPE html>
<html lang="zh-cn">
    <head>
		#parse("/layout/head.vm")
        <script language="javascript">
            $(function() {
				$('#addForm').validate({
					errorElement:"em",
					errorClass:"red",
					rules: {
												username: {required: true},
						password: {required: true},
						loginTimes: {required: true},
						lastLoginIp: {required: true},
						lastLoginTime: {required: true},
					},
			
					messages: {
						username: { required: "请输入账号"},
						password: { required: "请输入密码"},
						loginTimes: { required: "请输入登录次数"},
						lastLoginIp: { required: "请输入用户上次登录IP"},
						lastLoginTime: { required: "请输入用户上次登录时间"},
					}
				});
				
				$("#btn-back").click(function(){
					window.location.href=("$basePath/userAccount");
				});
				$("#btn-submit").click(function(){
            		var form = $("#addForm");
					if(form.valid()==false){
						return;
					}
					jQuery.post('$basePath/userAccount/add',
            			form.serialize(),
            			function(data) { MyPopWindow.SubmitCompletedCallback2(data, "$basePath/userAccount"); }
            		);
            	});
            });
        </script>
    </head>
	<body>
		<div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-plus green"></i>用户账号&nbsp;&gt;&nbsp;新增
                        </h5>
                        <div class="widget-toolbar"></div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #fff;padding:5px;">
                            <form class="form-horizontal" role="form" id="addForm">
                                <div class="form-group">
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="username">账号</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="username" id="username" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="password">密码</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="password" id="password" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="loginTimes">登录次数</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="loginTimes" id="loginTimes" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="lastLoginIp">用户上次登录IP</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="lastLoginIp" id="lastLoginIp" class="col-xs-12 col-sm-12" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="lastLoginTime">用户上次登录时间</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="lastLoginTime" id="lastLoginTime" class="col-xs-12 col-sm-12" />
                                    </div>
                                </div>
								<div class="form-group">
									<div class="col-sm-8 col-sm-offset-4">
                                        <button class="btn btn-info btn-sm" type="button" id="btn-back"><i class="icon-arrow-left"></i>返回</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>重置</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-submit"><i class="icon-ok"></i>提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
	</body>
</html>
