<!DOCTYPE html>
<html lang="zh-cn">
    <head>
		#parse("/layout/head.vm")
        <script language="javascript">
            $(function() {
				$('#updateForm').validate({
					errorElement:"em",
					errorClass:"red",
					rules: {
												userNo: {required: true},
						addName: {required: true},
						addProvinceName: {required: true},
						addProvinceNo: {required: true},
						addCityName: {required: true},
						addCityNo: {required: true},
						addAreaName: {required: true},
						addAreaNo: {required: true},
						addAddress: {required: true},
						addMobile: {required: true},
						addTelephone: {required: true},
						addEmail: {required: true},
						addZipcode: {required: true},
						createName: {required: true},
						updateName: {required: true},
					},
			
					messages: {
						userNo: { required: "请输入用户ID"},
						addName: { required: "请输入收货人姓名"},
						addProvinceName: { required: "请输入省份名称"},
						addProvinceNo: { required: "请输入省份编码"},
						addCityName: { required: "请输入市名称"},
						addCityNo: { required: "请输入市编号"},
						addAreaName: { required: "请输入区名称"},
						addAreaNo: { required: "请输入区编码"},
						addAddress: { required: "请输入详细地址"},
						addMobile: { required: "请输入移动电话"},
						addTelephone: { required: "请输入固定电话"},
						addEmail: { required: "请输入电子邮件"},
						addZipcode: { required: "请输入邮编"},
						createName: { required: "请输入创建人"},
						updateName: { required: "请输入修改人"},
					}
				});
				
				$("#btn-back").click(function(){
					window.location.href=("$basePath/orderAddress");
				});
				$("#btn-submit").click(function(){
            		var form = $("#updateForm");
					if(form.valid()==false){
						return;
					}
					jQuery.post('$basePath/orderAddress/update',
            			form.serialize(),
            			function(data) { MyPopWindow.SubmitCompletedCallback2(data, "$basePath/orderAddress"); }
            		);
            	});
            });
        </script>
    </head>
	<body>
		<div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-plus green"></i>收货地址表&nbsp;&gt;&nbsp;修改
                        </h5>
                        <div class="widget-toolbar"></div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #fff;padding:5px;">
                            <form class="form-horizontal" role="form" id="updateForm">
                                <div class="form-group">
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="userNo">用户ID</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="userNo" id="userNo" class="col-xs-12 col-sm-12" value="$!orderAddress.userNo" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="addName">收货人姓名</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="addName" id="addName" class="col-xs-12 col-sm-12" value="$!orderAddress.addName" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="addProvinceName">省份名称</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="addProvinceName" id="addProvinceName" class="col-xs-12 col-sm-12" value="$!orderAddress.addProvinceName" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="addProvinceNo">省份编码</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="addProvinceNo" id="addProvinceNo" class="col-xs-12 col-sm-12" value="$!orderAddress.addProvinceNo" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="addCityName">市名称</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="addCityName" id="addCityName" class="col-xs-12 col-sm-12" value="$!orderAddress.addCityName" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="addCityNo">市编号</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="addCityNo" id="addCityNo" class="col-xs-12 col-sm-12" value="$!orderAddress.addCityNo" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="addAreaName">区名称</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="addAreaName" id="addAreaName" class="col-xs-12 col-sm-12" value="$!orderAddress.addAreaName" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="addAreaNo">区编码</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="addAreaNo" id="addAreaNo" class="col-xs-12 col-sm-12" value="$!orderAddress.addAreaNo" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="addAddress">详细地址</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="addAddress" id="addAddress" class="col-xs-12 col-sm-12" value="$!orderAddress.addAddress" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="addMobile">移动电话</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="addMobile" id="addMobile" class="col-xs-12 col-sm-12" value="$!orderAddress.addMobile" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="addTelephone">固定电话</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="addTelephone" id="addTelephone" class="col-xs-12 col-sm-12" value="$!orderAddress.addTelephone" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="addEmail">电子邮件</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="addEmail" id="addEmail" class="col-xs-12 col-sm-12" value="$!orderAddress.addEmail" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="addZipcode">邮编</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="addZipcode" id="addZipcode" class="col-xs-12 col-sm-12" value="$!orderAddress.addZipcode" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="createName">创建人</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="createName" id="createName" class="col-xs-12 col-sm-12" value="$!orderAddress.createName" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="updateName">修改人</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="updateName" id="updateName" class="col-xs-12 col-sm-12" value="$!orderAddress.updateName" />
                                    </div>
                                </div>
								<div class="form-group">
									<input type="hidden" name="id" id="id" value="$!orderAddress.id" />
									<div class="col-sm-8 col-sm-offset-4">
                                        <button class="btn btn-info btn-sm" type="button" id="btn-back"><i class="icon-arrow-left"></i>返回</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>重置</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-submit"><i class="icon-ok"></i>提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
	</body>
</html>
