<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-autowire="byName">

	<bean id="portalRealm" class="com.hbird.portal.shiro.PortalRealm"/>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="portalRealm"/>
	</bean>

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"/>
		<property name="loginUrl" value="/login"/>
		<property name="successUrl" value="/index"/>
		<property name="unauthorizedUrl" value="/error?code=403"/>
		<property name="filterChainDefinitions">
			<value>
				/login=anon
				/loginSys=anon
				/static/**=anon
				/error/**=anon
				/getVerifyCodeImage=anon
				/** = authc
				<!--/user/info**= authc,perms[33:44]
					/mydemo/getUserInfo = authc,perms[33:44]
					/mydemo/getUserInfo =authc,roles[ss]
					/admin/listUser**=authc,perms[admin:manage]-->
			</value>
		</property>
	</bean>

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

	<!-- Support Shiro Annotation start  这个一定要加上  才能识别shiro的注解-->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">  
		<property name="exceptionMappings">  
			<props>  
				<prop key="org.apache.shiro.authz.UnauthorizedException">/error?code=403</prop>
			</props>  
		</property>  
	</bean>  
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" 
		depends-on="lifecycleBeanPostProcessor"/>    
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager"/>
	</bean>
	<!-- Support Shiro Annotation end-->
</beans>