<a class="menu-toggler" id="menu-toggler" href="#">
	<span class="menu-text"></span>
</a>
<div class="sidebar" id="sidebar">
	<script type="text/javascript">
		try{
			/**
             * 变更主题颜色
             * User: ljz
             * Date: 2014-4-22
             * Time: 下午03:50:59
             * Version: 1.0
             */
			function changeTheme(color){
				//顶部颜色设定
				$("#navbar").css("background-color",color);
				//子菜单划过效果
				$("#nav-menu>li>ul>li>a").mousemove(function(){
					$(this).css("background-color",color);
					$(this).css("border-color","#e9e9e9");
				});
				//子菜单划出效果
				$("#nav-menu>li>ul>li>a").mouseout(function(){
					$(this).css("background-color","#fff");
					$(this).css("border-color","#fff");
				});
			}
			
    		function link(c,n,u,pc,pn){
    			document.getElementById("frame-content").src=u;
            	$("#nav-menu> li > ul >li").each(function(){
                	$(this).removeClass("active");
                })
    			var current="#subMenu-"+c;
    			$(current).addClass("active");
				
    			$("#breadcrumb-first").text(pn);
    			$("#breadcrumb-second").text(n);
    			
				jQuery.ajax({
        						type: "POST",
        						url: basePath + "/sysLog/add",
        						dataType : "json",
        						data: {menuCode:c,menuName:n,url:u,parentMenuCode:pc,parentMenuName:pn},
        						
        					});
    		}
		}catch(e){
		}
	</script>

	<div class="sidebar-shortcuts" id="sidebar-shortcuts">
		<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
			<button onclick="changeTheme('#87B87F')" class="btn btn-success">
				  &nbsp;
			</button>

			<button onclick="changeTheme('#438EB9')" class="btn btn-info">
				&nbsp;
			</button>

			<button onclick="changeTheme('#FFB752')" class="btn btn-warning">
				&nbsp;
			</button>

			<button onclick="changeTheme('#D15B47')" class="btn btn-danger">
				&nbsp;
			</button>
		</div>
	</div><!-- #sidebar-shortcuts -->

	<ul class="nav nav-list" id="nav-menu">
		<li #if("index"==$currentPageFirst) class="active" #end>
			<a href="#springUrl('')/index">
				<i class="icon-dashboard"></i>
				<span class="menu-text">系统首页 </span>
			</a>
		</li>
		#if($!menus)
			#foreach($menu in $!menus)
				<li #if($!menu.menuCode==$currentPageFirst) class="active open" #end id="menu-$!menu.menuCode">
        			<a href="#" class="dropdown-toggle">
        				<i class="$!menu.menuIcon"></i>
        				<span class="menu-text">$!menu.menuName</span>
        				<b class="arrow icon-angle-down"></b>
        			</a>

					#if($!menu.subMenus)
    					<ul class="submenu">
    						#foreach($subMenu in $!menu.subMenus)
                				<li #if($!subMenu.subMenuCode==$currentPageSecond) class="active" #end id="subMenu-$!subMenu.subMenuCode">
									<a href="javascript:void(0)" onclick="link('$!subMenu.subMenuCode','$!subMenu.subMenuName','$!subMenu.subMenuUrl','$!menu.menuCode','$!menu.menuName');">$!subMenu.subMenuName</a>
                				</li>				 
    						#end
            			</ul>
    				#end
				
				</li>
			#end
		#end
	</ul><!-- /.nav-list -->

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
	</div>

	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
	</script>
</div>
