<script type="text/javascript" src="#springUrl('')/static/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="#springUrl('')/static/js/inner/common.js"></script>
<script>
	$(function(){
      	$('.login_input,.login_code').focus(function(){
			$(this).css({'color':'#333'});
	  	});
      	$('#username').blur(function(){
	  		$(this).css({'color':'#939393'});
	  	});
      	$('#password').blur(function(){
			$(this).css({'color':'#939393'});
	  	});
      	$('#checkCode').blur(function(){
    		$(this).css({'color':'#939393'});
	  	});
	  	$('#imageCode').click(function() {    
        	refreshCheckCode();    
      	}); 
		$('#loginForm').validate({
			errorElement:"p",
			errorClass:"reds",
			rules: {
				username: {required: true, mobile: true},
				password: {required: true},
				checkCode: {required: true}
			},
			messages: {
				username: { required: "请输入手机号", mobile: "请输入正确的11位手机号"},
				password: { required: "请输入密码"},
				checkCode: { required: "请输入验证码"}
			}
		});
	  	$('#login_btn').click(function() {    
        	var form = $("#loginForm");
			if(form.valid()==false){
				return;
			}
			form.submit();
        });    

   	});
        
    function refreshCheckCode() {    
        var append = '#springUrl('')/checkCode/createImage?clearCache=' + new Date().getTime() + 'a' + Math.random();    
        $('#imageCode').attr('src', append);    
    } 
</script>
<!---------------------- 正文 ----------------------> 
   
   <div class="login">
    
       <div class="wid1200">
        <div class="right login_r">
           <div class="login_con">
             <div class="login_box pl20">
                <h2>用户登录</h2>
				
                <form name="loginForm" id="loginForm" action="#springUrl('')/user/doLogin" method="post">
				   <div id="errorPlace">
				   </div>
                    <ul>
						#if($tips_msg)
							<li class="reds">
								$!tips_msg
							</li>
					   #end
                       <li>
    						<input type="text" class="login_input" id="username" name="username" placeholder="请输入手机号" value="$!username" />
    				   </li>
                       <li>
    						<input type="password" class="login_input" id="password" name="password" placeholder="请输入密码" value="$!password" />
    				   </li>
                       <li>
    						<input type="text" class="login_code left" id="checkCode" name="checkCode" placeholder="请输入验证码" />
    						<img id="imageCode" src="#springUrl('')/checkCode/createImage" class="lp_img left" title="看不清，点击换一张" style="cursor: pointer;" />
    				   </li>
    				   <li class="reds">
    						温馨提示：一个手机只能注册一个会员
    				   </li>
                       <li>
    						<input type="hidden" name="forwardUrl" id ="forwardUrl" value="$!forwardUrl"/>
    						<input type="button" name="login_btn" id="login_btn" class="login_btn" value="登 录" />
    				   </li>
                    </ul>
                </form>
				
                <p class="text_r login_reg">
					<a href="#springUrl('')/user/register">用户注册</a>
					<a href="#springUrl('')/user/resetPasswordForward">忘记密码？</a>
				</p>
              </div>
           </div>
        </div>
       </div>
   
   </div> 
   
 <!---------------------- 正文end ----------------------> 
 