 <script type="text/javascript" src="#springUrl('')/static/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="#springUrl('')/static/js/inner/common.js"></script>
<script type="text/javascript" src="#springUrl('')/static/js/inner/sms.js?v=1234"></script>
<script>
    $(function(){
        $('.login_input,.login_code').focus(function(){
	     	$(this).css({'color':'#333'});
	 	});
      	$('#username').blur(function(){
		  	$(this).css({'color':'#333'});
	  	});
      	$('#oldPassword').blur(function(){
		  	$(this).css({'color':'#939393'});
	  	});
      	$('#newPassword').blur(function(){
		  	$(this).css({'color':'#939393'});
	  	});
      	$('#newPassword2').blur(function(){
		  	$(this).css({'color':'#939393'});
	  	});
      	$('#smsCode').blur(function(){
		  	$(this).css({'color':'#939393'});
	  	});
      	$('#checkCode').blur(function(){
		  	$(this).css({'color':'#939393'});
	  	});
	  	$('#imageCode').click(function() {    
        	refreshCheckCode();    
      	}); 
	  	$('#modifyPasswordForm').validate({
			errorElement:"p",
			errorClass:"reds",
			rules: {
				username: {required: true, mobile: true},
				smsCode: {required: true},
				oldPassword: {required: true, minlength: 6, maxlength: 30},
				newPassword: {required: true, minlength: 6, maxlength: 30},
				newPassword2: {required: true, equalTo:"#newPassword"},
				checkCode: {required: true}
			},
			messages: {
				username: { required: "请输入手机号", mobile: "请输入正确的11位手机号"},
				smsCode: { required: "请输入短信验证码"},
				oldPassword: { required: "请输入密码", minlength: jQuery.validator.format("请输入长度最少是{0}位的密码"), maxlength: jQuery.validator.format("请输入长度最多是{0}位的密码")},
				newPassword: { required: "请输入密码", minlength: jQuery.validator.format("请输入长度最少是{0}位的密码"), maxlength: jQuery.validator.format("请输入长度最多是{0}位的密码")},
				newPassword2: { required: "请重复输入密码",equalTo:"输入值必须和上面的密码相同"},
				checkCode: { required: "请输入图片中的验证码"}
			},
			errorPlacement: function(error, element) {
                if ( element.is("#smsCode") || element.is("#checkCode") )
                    error.appendTo( element.parent().last() );
                else
                    error.appendTo( element.parent());
            }
		});
	  	$('#smsCodeCreate_btn').click(function() {    
        	sendSmsCode();
        }); 
	  	$('#modifyPassword_btn').click(function() {    
        	var form = $("#modifyPasswordForm");
			if(form.valid()==false){
				return;
			}
			jQuery.post(basePath+'/user/doModifyPassword',
    			form.serialize(),
    			function(data) { 
					if(data!=null && data.code==200){
        				alert("修改密码成功");
						window.localtion.href = basePath+'/user/modifyPassword';
        			} else {
        				alert(data.message);
						$("#smsCode").val('');
						$("#oldPassword").val('');
						$("#newPassword").val('');
						$("#newPassword2").val('');
						$("#checkCode").val('');
        			}
				}
    		);
        });     
   	});
        
    function refreshCheckCode() {    
        var append = '#springUrl('')/checkCode/createImage?clearCache=' + new Date().getTime() + 'a' + Math.random();    
        $('#imageCode').attr('src', append);    
    } 
</script>
<!---------------------- 正文 ----------------------> 
<div class="container wid1200 clearfix">
	#parse("/myorder/common/left.vm")
   
	<!---------------------- 右则内容 ----------------------> 
    <div class="section right">
    	<h2 class="my_order"><span class="my_order_icon"></span>登录密码</h2>
    	
    	<form name="modifyPasswordForm" id="modifyPasswordForm" action="#">
    		<div class="basic mt30 ml15 relative">
    			<dl class="clearfix">
    				<dt> 手机号:</dt>
    				<dd><input type="text" class="basic_input" id="username" name="username" /></dd>
    			</dl> 
    			<dl class="clearfix">
    				<dt>短信验证码:</dt>
    				<dd>
    					<input type="text" class="basic_input left" id="smsCode" name="smsCode" disabled="disabled" />
    					<button type="button" class="btn btn-1 left" id="smsCodeCreate_btn">获取验证码</button>
    					<input type="hidden" id="smsCodeHasSend" name="smsCodeHasSend" value="0" />
    			</dl> 
    			<dl class="clearfix" id="sms-tips" style="display: none;">
                    <dt></dt>
    				<dd>
    					<div id="countDown" class="msg-text" style="display:none;">
    						校验码已发出，请注意查收短信，如果没有收到，你可以在<strong class="ftx-01">60</strong>秒后要求系统重新发送
    					</div>
                        <div class="msg-error" id="sendCode_error" style="display: none;"></div>
                        <div class="msg-error" id="code_error" style="display:none"></div>
    				</dd>
    			</dl> 
    			<dl class="clearfix">
    				<dt>原始登录密码:</dt>
    				<dd><input type="password" class="basic_input log_password" id="oldPassword" name="oldPassword" /></dd>
    			</dl> 
    			<dl class="clearfix">
    				<dt>新登录密码:</dt>
    				<dd><input type="password" class="basic_input log_password" id="newPassword" name="newPassword" /></dd>
    			</dl> 
    			<dl class="clearfix">
    				<dt>重复登录密码:</dt>
    				<dd><input type="password" class="basic_input log_password" id="newPassword2" name="newPassword2" /></dd>
    			</dl> 
    			<dl class="clearfix">
    				<dt> 验证码:</dt>
    				<dd>
    					<input type="text" class="basic_input left" id="checkCode" name="checkCode" />
    					<img id="imageCode" src="#springUrl('')/checkCode/createImage" class="lp_img left" title="看不清，点击换一张" style="cursor: pointer;" />
    				</dd>
    			</dl> 
    		</div>
    		<div class="basic_btn"><a href="javascript:void(0);" class="mt20" id="modifyPassword_btn">保存</a></div>
    	</form>
          
    </div>
      
   <!---------------------- 右则内容end ----------------------> 
</div>
<!---------------------- 正文end ----------------------> 