<!DOCTYPE html>
<html lang="zh-cn">
    <head>
		#parse("/layout/head.vm")
        <script language="javascript">
            $(function() {
				$('#updateForm').validate({
					errorElement:"em",
					errorClass:"red",
					rules: {
												loginNo: {required: true},
						loginName: {required: true},
						channelNo: {required: true},
						channelName: {required: true},
						orderNo: {required: true},
						amount: {required: true},
						tradeTime: {required: true},
						serialNo: {required: true},
						status: {required: true},
						accountNo: {required: true},
						accountName: {required: true},
						createUserId: {required: true},
						updateUserId: {required: true},
					},
			
					messages: {
						loginNo: { required: "请输入登录账号"},
						loginName: { required: "请输入登录账号姓名"},
						channelNo: { required: "请输入通道编号"},
						channelName: { required: "请输入通道名称"},
						orderNo: { required: "请输入订单号"},
						amount: { required: "请输入交易金额"},
						tradeTime: { required: "请输入交易时间"},
						serialNo: { required: "请输入流水号"},
						status: { required: "请输入交易状态"},
						accountNo: { required: "请输入支付帐号"},
						accountName: { required: "请输入支付人姓名"},
						createUserId: { required: "请输入创建人id"},
						updateUserId: { required: "请输入更新人id"},
					}
				});
				
				$("#btn-back").click(function(){
					window.location.href=("$basePath/trade");
				});
				$("#btn-submit").click(function(){
            		var form = $("#updateForm");
					if(form.valid()==false){
						return;
					}
					jQuery.post('$basePath/trade/update',
            			form.serialize(),
            			function(data) { MyPopWindow.SubmitCompletedCallback2(data, "$basePath/trade"); }
            		);
            	});
            });
        </script>
    </head>
	<body>
		<div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-plus green"></i>正向交易&nbsp;&gt;&nbsp;修改
                        </h5>
                        <div class="widget-toolbar"></div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #fff;padding:5px;">
                            <form class="form-horizontal" role="form" id="updateForm">
                                <div class="form-group">
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="loginNo">登录账号</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="loginNo" id="loginNo" class="col-xs-12 col-sm-12" value="$!trade.loginNo" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="loginName">登录账号姓名</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="loginName" id="loginName" class="col-xs-12 col-sm-12" value="$!trade.loginName" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="channelNo">通道编号</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="channelNo" id="channelNo" class="col-xs-12 col-sm-12" value="$!trade.channelNo" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="channelName">通道名称</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="channelName" id="channelName" class="col-xs-12 col-sm-12" value="$!trade.channelName" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="orderNo">订单号</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="orderNo" id="orderNo" class="col-xs-12 col-sm-12" value="$!trade.orderNo" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="amount">交易金额</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="amount" id="amount" class="col-xs-12 col-sm-12" value="$!trade.amount" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="tradeTime">交易时间</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="tradeTime" id="tradeTime" class="col-xs-12 col-sm-12" value="$!trade.tradeTime" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="serialNo">流水号</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="serialNo" id="serialNo" class="col-xs-12 col-sm-12" value="$!trade.serialNo" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="status">交易状态</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="status" id="status" class="col-xs-12 col-sm-12" value="$!trade.status" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="accountNo">支付帐号</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="accountNo" id="accountNo" class="col-xs-12 col-sm-12" value="$!trade.accountNo" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="accountName">支付人姓名</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="accountName" id="accountName" class="col-xs-12 col-sm-12" value="$!trade.accountName" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="createUserId">创建人id</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="createUserId" id="createUserId" class="col-xs-12 col-sm-12" value="$!trade.createUserId" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="updateUserId">更新人id</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="updateUserId" id="updateUserId" class="col-xs-12 col-sm-12" value="$!trade.updateUserId" />
                                    </div>
                                </div>
								<div class="form-group">
									<input type="hidden" name="id" id="id" value="$!trade.id" />
									<div class="col-sm-8 col-sm-offset-4">
                                        <button class="btn btn-info btn-sm" type="button" id="btn-back"><i class="icon-arrow-left"></i>返回</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>重置</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-submit"><i class="icon-ok"></i>提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
	</body>
</html>
